<div class="baseInfo-wraper">
    <!--顶部tab栏-->
    <div class="basicInfo-content-header">
        <ul class="info-header">
            <li class="active"><i class="icon-wenben "></i>基础信息</li>
            <li><i class="icon-yingxiangsheying"></i>影响材料</li>
            <li><i class="icon-jihuashucur"></i>计划申请</li>
        </ul>
    </div>
    <!--信息内容区-->
    <div class="basicInfo-content">
        <!--个人信息-->
        <div class="detil-content">
            <div class="detail-left">
                <div><span>个人<br>信息</span></div>
            </div>
            <div class="detail-right">
                <div class="detail-right-each width-one">
                    <span class="content_type">证件类型</span>
                    <span class="content_get">身份证</span>
                </div>
                <div class="detail-right-each width-num">
                    <span class="content_type">证件号码</span>
                    <span class="content_get">421232321312312321312</span>
                </div>
                <div class="detail-right-each width-four">
                    <span class="content_type">证件有效期至</span>
                    <span class="content_get">2020/01/10</span>
                </div>
                <div class="detail-right-each width-one">
                    <span class="content_type">姓名</span>
                    <span class="content_get">张**峰</span>
                </div>
                <div class="detail-right-each width-two">
                    <span class="content_type">性别</span>
                    <span class="content_get">男</span>
                </div>
                <div class="detail-right-each width-three">
                    <span class="content_type width-three">年龄</span>
                    <span class="content_get">28岁</span>
                </div>
                <div class="detail-right-each width-four">
                    <span class="content_type">生日</span>
                    <span class="content_get">10月21日</span>
                </div>
                <div class="detail-right-each width-one">
                    <span class="content_type">名族</span>
                    <span class="content_get">汉</span>
                </div>
                <div class="detail-right-each width-two">
                    <span class="content_type">政治面貌</span>
                    <span class="content_get">群众</span>
                </div>
                <div class="detail-right-each width-three">
                    <span class="content_type">新人来源</span>
                    <span class="content_get">招募活动能</span>
                </div>
                <div class="detail-right-each width-four">
                    <span class="content_type">来源渠道</span>
                    <span class="content_get">客户</span>
                </div>
            </div>
        </div>
        <!--家庭信息-->
        <div class="detil-content">
            <div class="detail-left">
                <div><span>家庭<br>信息</span></div>
            </div>
            <div class="detail-right">
                <div class="detail-right-each width-one">
                    <span class="content_type">关系</span>
                    <span class="content_get">配偶</span>
                </div>
                <div class="detail-right-each width-two">
                    <span class="content_type width-three">姓名</span>
                    <span class="content_get">林**珊</span>
                </div>
                <div class="detail-right-each width-tel">
                    <span class="content_type">电话</span>
                    <span class="content_get">12356777721</span>
                </div>
                <div class="detail-right-each width-one">
                    <span class="content_type">分公司</span>
                    <span class="content_get">上海分公司</span>
                </div>
                <div class="detail-right-each width-two">
                    <span class="content_type">渠道</span>
                    <span class="content_get">代理人渠道</span>
                </div>
                <div class="detail-right-each width-three">
                    <span class="content_type">职务</span>
                    <span class="content_get">客户经理</span>
                </div>
                <div class="detail-right-each width-four">
                    <span class="content_type">入职时间</span>
                    <span class="content_get">2015/12/01</span>
                </div>
            </div>
        </div>
        <!--教育信息-->
        <div class="detil-content">
            <div class="detail-left">
                <div><span>教育<br>信息</span></div>
            </div>
            <div class="detail-right">
                <div class="detail-right-each width-one">
                    <span class="content_type">开始年月</span>
                    <span class="content_get">2010/7</span>
                </div>
                <div class="detail-right-each width-two">
                    <span class="content_type width-three">结束年月</span>
                    <span class="content_get">2013/06</span>
                </div>
                <div class="detail-right-each width-three">
                    <span class="content_type">学历</span>
                    <span class="content_get">高中</span>
                </div>
                <div class="detail-right-each width-four">
                    <span class="content_type">毕业院校</span>
                    <span class="content_get">上海***高中</span>
                </div>
                <div class="detail-right-each width-one">
                    <span class="content_type">开始年月</span>
                    <span class="content_get">2013/7</span>
                </div>
                <div class="detail-right-each width-two">
                    <span class="content_type width-three">结束年月</span>
                    <span class="content_get">2013/7</span>
                </div>
                <div class="detail-right-each width-three">
                    <span class="content_type">学历</span>
                    <span class="content_get">本科</span>
                </div>
                <div class="detail-right-each width-four">
                    <span class="content_type">毕业院校</span>
                    <span class="content_get">上海***大学</span>
                </div>
                <div class="detail-right-each width-one">
                    <span class="content_type">名族</span>
                    <span class="content_get">汉</span>
                </div>
                <div class="detail-right-each width-two">
                    <span class="content_type width-three">政治面貌</span>
                    <span class="content_get">群众</span>
                </div>
                <div class="detail-right-each width-three">
                    <span class="content_type">新人来源</span>
                    <span class="content_get">招募活动能</span>
                </div>
                <div class="detail-right-each width-four">
                    <span class="content_type">来源渠道</span>
                    <span class="content_get">客户</span>
                </div>
            </div>
        </div>
        <!--工作信息-->
        <div class="detil-content">
            <div class="detail-left detail-left-last">
                <div><span>工作<br>信息</span></div>
            </div>
            <div class="work-message-right">
                <div class="last-message">
                    <div class="detail-right-each width-work">
                        <span class="content_type">原保险技工名称</span>
                        <span class="content_get">中国平安人寿</span>
                        <span class="content_get">已离职</span>
                    </div>
                    <div class="detail-right-each">
                        <span class="content_type">离职日期</span>
                        <span class="content_get">2017/01/02</span>
                    </div>
                </div>
                <div class="work-list">
                    <p class="work-list-head">工作经历1</p>
                    <div class="work-message-all">
                        <div class="work-message-each w-one">
                            <span class="work-message-type">开始年月</span>
                            <span class="">2015/07</span>
                        </div>
                        <div class="work-message-each w-one">
                            <span class="work-message-type">结束年月</span>
                            <span class="">2017/10</span>
                        </div>
                        <div class="work-message-each w-two">
                            <span class="work-message-type">职业</span>
                            <span class="">保险师</span>
                        </div>
                        <div class="work-message-each w-two">
                            <span class="work-message-type">职位</span>
                            <span class="">客户经理</span>
                        </div>
                        <div class="work-message-each w-one">
                            <span class="work-message-type">单位名称</span>
                            <span class="">中国平安人寿</span>
                        </div>
                        <div class="work-message-each w-one">
                            <span class="work-message-type">年收入</span>
                            <span class="">30万元</span>
                        </div>
                    </div>
                </div>
                <div class="work-list">
                    <p class="work-list-head">工作经历2</p>
                    <div class="work-message-all">
                        <div class="work-message-each w-one">
                            <span class="work-message-type">开始年月</span>
                            <span class="">2015/07</span>
                        </div>
                        <div class="work-message-each w-one">
                            <span class="work-message-type">结束年月</span>
                            <span class="">2017/10</span>
                        </div>
                        <div class="work-message-each w-two">
                            <span class="work-message-type">职业</span>
                            <span class="">保险师</span>
                        </div>
                        <div class="work-message-each w-two">
                            <span class="work-message-type">职位</span>
                            <span class="">客户经理</span>
                        </div>
                        <div class="work-message-each w-one">
                            <span class="work-message-type">单位名称</span>
                            <span class="">中国平安人寿</span>
                        </div>
                        <div class="work-message-each w-one">
                            <span class="work-message-type">年收入</span>
                            <span class="">30万元</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部浮层-->
    <div class="basicInfo-footer">
        <div class="buttonBouth">
            <button type="button" class="info-save">保存</button>
            <button type="button" class="next-client">下一步</button>
        </div>
    </div>
</div>
