<div class="preson-wraper">
    <!--头部tap-->
    <ul class="preson-tap">
        <li class="active">准增援 ( 99 )</li>
        <li>增援中 ( 83 )</li>
        <li>代理人 ( 26 )</li>
    </ul>
    <!--状态栏-->
    <!--<ul class="preson-state">-->
        <!--<li><i class="icon-gengduo"></i><span>进行中</span></li>-->
        <!--<li><i class="icon-correct"></i>通过</li>-->
        <!--<li><i class="icon-jinggao"></i>非标准件</li>-->
        <!--<li><i class="icon-qianbipen"></i>建议更改人才计划</li>-->
        <!--<li><i class="icon-shanchu"></i>不通过</li>-->
    <!--</ul>-->
    <!--准增员-->
    <div class="preson-content">
        <div class="preson-content-pre">
            <div class="preson-info"></div>
            <div class="preson-info-left pre-md-1">
                <h1>林月**</h1>
                <p><i class="icon-solid-person"></i><span>女</span><span class="span-md-1">26岁</span></p>
                <p><i class="icon-3"></i><span>15645655432</span></p>
                <p><i class="icon-icon-test"></i><span class="span-md-2">上海交通大学</span><span class="span-md3">本科</span></p>
            </div>
            <div class="preson-info-line"></div>
            <div class="preson-info-mid pre-md-2">
                <p>人才计划 : SA</p>
                <p>申请时间 : 2017/12/21</p>
                <!--<p>上一环节 : N/A</p>-->
                <!--<p>当前环节 : 信息录入<i class="icon-gengduo"></i></p>-->
            </div>
            <div class="preson-info-tip pre-md-3">
                <p>标签1</p>
                <p>标签标签1</p>
                <p>标签1</p>
                <p>标签1</p>
                <p style="width: 57px;height: 22px"><i class="icon-jia"></i></p>
            </div>
        </div>
        <div class="preson-content-pre">
            <div class="preson-info"></div>
            <div class="preson-info-left pre-md-1">
                <h1>林月**</h1>
                <p><i class="icon-solid-person"></i><span>女</span><span class="span-md-1">26岁</span></p>
                <p><i class="icon-3"></i><span>15645655432</span></p>
                <p><i class="icon-icon-test"></i><span class="span-md-2">上海交通大学</span><span class="span-md3">本科</span></p>
            </div>
            <div class="preson-info-line"></div>
            <div class="preson-info-mid pre-md-2">
                <p>人才计划 : SA</p>
                <p>申请时间 : 2017/12/21</p>
                <!--<p>上一环节 : N/A</p>-->
                <!--<p>当前环节 : 信息录入<i class="icon-gengduo"></i></p>-->
            </div>
            <div class="preson-info-tip pre-md-3">
                <p>标签1</p>
                <p>标签标签1</p>
                <p>标签1</p>
                <p>标签1</p>
                <p style="width: 57px;height: 22px"><i class="icon-jia"></i></p>
            </div>
        </div>
        <div class="preson-content-pre">
            <div class="preson-info"></div>
            <div class="preson-info-left pre-md-1">
                <h1>林月**</h1>
                <p><i class="icon-solid-person"></i><span>女</span><span class="span-md-1">26岁</span></p>
                <p><i class="icon-3"></i><span>15645655432</span></p>
                <p><i class="icon-icon-test"></i><span class="span-md-2">上海交通大学</span><span class="span-md3">本科</span></p>
            </div>
            <div class="preson-info-line"></div>
            <div class="preson-info-mid pre-md-2">
                <p>人才计划 : SA</p>
                <p>申请时间 : 2017/12/21</p>
                <!--<p>上一环节 : N/A</p>-->
                <!--<p>当前环节 : 信息录入<i class="icon-gengduo"></i></p>-->
            </div>
            <div class="preson-info-tip pre-md-3">
                <p>标签1</p>
                <p>标签标签1</p>
                <p>标签1</p>
                <p>标签1</p>
                <p style="width: 57px;height: 22px"><i class="icon-jia"></i></p>
            </div>
        </div>
        <!--<div class="preson-content-pre">-->
            <!--<div class="preson-info"></div>-->
            <!--<div class="preson-info-left pre-md-1">-->
                <!--<h1>林月**</h1>-->
                <!--<p><i class="icon-solid-person"></i><span>女</span><span class="span-md-1">26岁</span></p>-->
                <!--<p><i class="icon-3"></i><span>15645655432</span></p>-->
                <!--<p><i class="icon-icon-test"></i><span class="span-md-2">上海交通大学</span><span class="span-md3">本科</span></p>-->
            <!--</div>-->
            <!--<div class="preson-info-line"></div>-->
            <!--<div class="preson-info-mid pre-md-2">-->
                <!--<p>人才计划 : SA</p>-->
                <!--<p>申请时间 : 2017/12/21</p>-->
                <!--<p>上一环节 : N/A</p>-->
                <!--<p>当前环节 : 信息录入<i class="icon-shanchu"></i></p>-->
            <!--</div>-->
            <!--<div class="preson-info-tip pre-md-3">-->
                <!--<p>标签1</p>-->
                <!--<p>标签标签1</p>-->
                <!--<p>标签1</p>-->
                <!--<p>标签1</p>-->
                <!--<p style="width: 57px;height: 22px"><i class="icon-jia"></i></p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <!--增员中-->
    <div class="preson-content" style="display: none">
        <div class="preson-content-pre">
            <div class="preson-info"></div>
            <div class="preson-info-left pre-md-4">
                <h1>林月**</h1>
                <p><i class="icon-solid-person"></i><span>女</span><span class="span-md-1">26岁</span></p>
                <p><i class="icon-3"></i><span>15645655432</span></p>
                <p><i class="icon-icon-test"></i><span class="span-md-2">上海交通大学</span><span class="span-md3">本科</span></p>
            </div>
            <div class="preson-add-mid pre-md-5">
                <p>人才计划 : SA</p>
                <p>申请时间 : 2017/12/21</p>
            </div>
            <div class="preson-add-tip pre-md-6">
                <p>上一环节 : N/A</p>
                <span>当前环节 : 信息录入</span><i class="icon-gengduo"></i>
            </div>
        </div>
        <div class="preson-content-pre">
            <div class="preson-info"></div>
            <div class="preson-info-left pre-md-4">
                <h1>林月**</h1>
                <p><i class="icon-solid-person"></i><span>女</span><span class="span-md-1">26岁</span></p>
                <p><i class="icon-3"></i><span>15645655432</span></p>
                <p><i class="icon-icon-test"></i><span class="span-md-2">上海交通大学</span><span class="span-md3">本科</span></p>
            </div>
            <div class="preson-add-mid pre-md-5">
                <p>人才计划 : SA</p>
                <p>申请时间 : 2017/12/21</p>
            </div>
            <div class="preson-add-tip pre-md-6">
                <p>上一环节 : N/A</p>
                <span>当前环节 : 信息录入</span><i class="icon-gengduo"></i>
            </div>
        </div>
        <div class="preson-content-pre">
            <div class="preson-info"></div>
            <div class="preson-info-left pre-md-4">
                <h1>林月**</h1>
                <p><i class="icon-solid-person"></i><span>女</span><span class="span-md-1">26岁</span></p>
                <p><i class="icon-3"></i><span>15645655432</span></p>
                <p><i class="icon-icon-test"></i><span class="span-md-2">上海交通大学</span><span class="span-md3">本科</span></p>
            </div>
            <div class="preson-add-mid pre-md-5">
                <p>人才计划 : SA</p>
                <p>申请时间 : 2017/12/21</p>
            </div>
            <div class="preson-add-tip pre-md-6">
                <p>上一环节 : N/A</p>
                <span>当前环节 : 信息录入</span><i class="icon-gengduo"></i>
            </div>
        </div>
    </div>
    <!--代理人-->
    <div class="preson-content" style="display: none">
        <div class="preson-content-pre">
            <div class="preson-info"></div>
            <div class="preson-info-left pre-md-4">
                <h1>林月**</h1>
                <p><i class="icon-solid-person"></i><span>女</span><span class="span-md-1">26岁</span></p>
                <p><i class="icon-3"></i><span>15645655432</span></p>
                <p><i class="icon-icon-test"></i><span class="span-md-2">上海交通大学</span><span class="span-md3">本科</span></p>
            </div>
            <div class="preson-add-mid pre-md-5">
                <p>人才计划 : SA</p>
                <p>申请时间 : 2017/12/21</p>
            </div>
        </div>
        <div class="preson-content-pre">
            <div class="preson-info"></div>
            <div class="preson-info-left pre-md-4">
                <h1>林月**</h1>
                <p><i class="icon-solid-person"></i><span>女</span><span class="span-md-1">26岁</span></p>
                <p><i class="icon-3"></i><span>15645655432</span></p>
                <p><i class="icon-icon-test"></i><span class="span-md-2">上海交通大学</span><span class="span-md3">本科</span></p>
            </div>
            <div class="preson-add-mid pre-md-5">
                <p>人才计划 : SA</p>
                <p>申请时间 : 2017/12/21</p>
            </div>
        </div>
        <div class="preson-content-pre">
            <div class="preson-info"></div>
            <div class="preson-info-left pre-md-4">
                <h1>林月**</h1>
                <p><i class="icon-solid-person"></i><span>女</span><span class="span-md-1">26岁</span></p>
                <p><i class="icon-3"></i><span>15645655432</span></p>
                <p><i class="icon-icon-test"></i><span class="span-md-2">上海交通大学</span><span class="span-md3">本科</span></p>
            </div>
            <div class="preson-add-mid pre-md-5">
                <p>人才计划 : SA</p>
                <p>申请时间 : 2017/12/21</p>
            </div>
        </div>
    </div>
    <!--底部浮层-->
    <div class="preson-footer">
        <button type="button" class="add-client">
            <i class="icon-jia"></i><span>添加人才</span>
        </button>
    </div>
</div>


