<!--工作经验-->
<div class="experience-wrapper">
    <!--头部背景样式及工作选择-->
    <div class="bg-top"></div>
    <form id="work-experience">
        <div class="all-business">
            <!--最高学历证明-->
            <div class="part-form-title" >
                <p class="part-title">最高学历证明</p>
            </div>
            <div class="educat-wrp alien-wrapper">
                <div class="col-md-6">
                    <div class="educattials-wrp">
                        <p class="educat-til">学历证明</p>
                        <div class="  credentials-wrapper">
                            <img src="../../images/paper1.jpg" alt="">
                            <span></span>
                        </div>
                        <div class="re-upload">
                            <button type="button"><i class="icon-upload"></i>重新上传</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="educattials-wrp">
                        <p class="educat-til">学信网验证页面</p>
                        <div class="  credentials-wrapper">
                            <img src="../../images/paper1.jpg" alt="">
                            <span></span>
                        </div>
                        <div class="re-upload">
                            <button type="button"><i class="icon-upload"></i>重新上传</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--教育经历-->
            <div class="part-form-title" style="margin-bottom: 29px">
                <p class="part-title">教育经历</p>
            </div>
            <div>
                <div class="business educat-business" style="height: 212px">
                    <div class="business-title">
                        教育经历1
                    </div>
                    <ul class="business-form ui-form">
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>开始年月</span></strong>
                            <div class="ipt-text">
                                <input type="text" class="ipt-text" readonly>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>结束年月</span></strong>
                            <div class="ipt-text">
                                <input type="text" class="ipt-text" readonly>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>学历</span></strong>
                            <div class="ipt-select">
                                <i class="icon-arrow-full-down"></i>
                                <input type="text" class="ipt-text" placeholder="请选择" readonly>
                                <select>
                                    <option disabled selected value="">请选择学历</option>
                                    <option value="">硕士</option>
                                    <option value="">本科</option>
                                    <option value="">专科</option>
                                </select>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>毕业院校</span></strong>
                            <div class="ipt-select">
                                <i class="icon-arrow-full-down"></i>
                                <input type="text" class="ipt-text" placeholder="请输入" readonly>
                                <select>
                                    <option disabled selected value="">院校</option>
                                    <option value="">北京大学</option>
                                    <option value="">清华大学</option>
                                    <option value="">复旦大学</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="business educat-business" style="height: 212px">
                    <div class="business-title">
                        教育经历2
                    </div>
                    <ul class="business-form ui-form">
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>开始年月</span></strong>
                            <div class="ipt-text">
                                <input type="text" class="ipt-text" readonly>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>结束年月</span></strong>
                            <div class="ipt-text">
                                <input type="text" class="ipt-text" readonly>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>学历</span></strong>
                            <div class="ipt-select">
                                <i class="icon-arrow-full-down"></i>
                                <input type="text" class="ipt-text" placeholder="请选择" readonly>
                                <select>
                                    <option disabled selected value="">请选择学历</option>
                                    <option value="">硕士</option>
                                    <option value="">本科</option>
                                    <option value="">专科</option>
                                </select>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>毕业院校</span></strong>
                            <div class="ipt-select">
                                <i class="icon-arrow-full-down"></i>
                                <input type="text" class="ipt-text" placeholder="请输入" readonly>
                                <select>
                                    <option disabled selected value="">院校</option>
                                    <option value="">北京大学</option>
                                    <option value="">清华大学</option>
                                    <option value="">复旦大学</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!--添加工作经历-->
            <div class="add-another-business">
                <button type="button" class="add-business"><i class="icon-jia"></i>添加教育经历</button>
            </div>

        </div>
    </form>
</div>
<!--底部按钮-->
<div class="bot-button">
    <div class="buttonGroup">
        <button type="button" class="savePersonalInfo">保存</button>
        <button type="button" class="goNext">下一步</button>
    </div>
</div>