<div class="target-wraper">
    <div class="bg-top"></div>
    <div class="targrt-content">
        <p class="target-set"><i class="icon-back"></i>&nbsp;增员目标设置</p>
        <div class="target-time">
            <i class="icon-back"></i><span>2017年</span><i class="icon-iconfontjiantou2"></i>
        </div>
        <ul class="target-month">
            <li>
                <p class="each-month">
                    <strong>1月</strong><i  class="icon-44"></i>
                </p>
                <p class="each-preson">计划增员<span>30</span>人</p>
            </li>
            <li>
                <p class="each-month">
                    <strong>2月</strong><i  class="icon-44"></i>
                </p>
                <p class="each-preson">计划增员<span>30</span>人</p>
            </li>
            <li>
                <p class="each-month">
                    <strong>3月</strong><i  class="icon-44"></i>
                </p>
                <p class="each-preson">计划增员<span>30</span>人</p>
            </li>
            <li>
                <p class="each-month">
                    <strong>4月</strong><i  class="icon-44"></i>
                </p>
                <p class="each-preson">计划增员<span>30</span>人</p>
            </li>
            <li>
                <p class="each-month">
                    <strong>5月</strong><i  class="icon-44"></i>
                </p>
                <p class="each-preson">计划增员<span>30</span>人</p>
            </li>
            <li>
                <p class="each-month">
                    <strong>6月</strong><i  class="icon-44"></i>
                </p>
                <p class="each-preson">计划增员<span>30</span>人</p>
            </li>
            <li>
                <p class="each-month">
                    <strong>7月</strong><i  class="icon-44"></i>
                </p>
                <p class="each-preson">计划增员<span>30</span>人</p>
            </li>
            <li>
                <p class="each-month">
                    <strong>8月</strong><i  class="icon-44"></i>
                </p>
                <p class="each-preson">计划增员<span>30</span>人</p>
            </li>
            <li>
                <p class="each-month">
                    <strong>9月</strong><i  class="icon-44"></i>
                </p>
                <p class="each-preson">计划增员<span>30</span>人</p>
            </li>
            <li>
                <p class="each-month">
                    <strong>10月</strong><i  class="icon-44"></i>
                </p>
                <p class="each-preson">计划增员<span>30</span>人</p>
            </li>
            <li>
                <p class="each-month">
                    <strong>11月</strong><i  class="icon-44"></i>
                </p>
                <p class="each-preson">计划增员<span>30</span>人</p>
            </li>
            <li>
                <p class="each-month">
                    <strong>12月</strong><i  class="icon-44"></i>
                </p>
                <p class="each-preson">计划增员<span>30</span>人</p>
            </li>
        </ul>
    </div>
</div>