<!--工作经验-->
<div class="experience-wrapper">
    <!--头部背景样式及工作选择-->
    <div class="bg-top"></div>
    <form id="work-experience">
        <ul class="work-time">
            <li class="col-md-12">
                <strong>原保险公司工作经历</strong>
                <div class="ipt-radio">
                    <label><input type="radio" name="hasInsurance" class="ipt-radio">是</label>
                    <label><input type="radio" name="hasInsurance" class="ipt-radio">否</label>
                </div>
            </li>
            <li class="col-md-12">
                <strong>离职满6个月</strong>
                <div class="ipt-radio">
                    <label><input type="radio" name="ifTime" class="ipt-radio">是</label>
                    <label><input type="radio" name="ifTime" class="ipt-radio">否</label>
                </div>
            </li>
        </ul>
        <div class="all-business">
            <div class="part-form-title">
                <p class="part-title">工作经历</p>
            </div>

            <!--工作经验小表单-->
            <div>
                <div class="business">
                    <div class="business-title">
                        工作经历1
                    </div>
                    <ul class="business-form ui-form">
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>开始年月</span></strong>
                            <div class="ipt-text">
                                <input type="text" class="ipt-text" readonly>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>结束年月</span></strong>
                            <div class="ipt-text">
                                <input type="text" class="ipt-text" readonly>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>职业</span></strong>
                            <div class="ipt-select">
                                <i class="icon-arrow-full-down"></i>
                                <input type="text" class="ipt-text" placeholder="国家机关/党群组织" readonly>
                                <select>
                                    <option disabled selected value="">请选择职业</option>
                                    <option value="汉族">剑士</option>
                                    <option value="回族">灵剑</option>
                                </select>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>单位名称</span></strong>
                            <div class="ipt-select">
                                <i class="icon-arrow-full-down"></i>
                                <input type="text" class="ipt-text" placeholder="单位名称" readonly>
                                <select>
                                    <option disabled selected value="">单位名称</option>
                                    <option value="汉族">剑士</option>
                                    <option value="回族">灵剑</option>
                                </select>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>职位</span></strong>
                            <div class="ipt-text">
                                <input type="text" class="ipt-text">
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>年收入</span></strong>
                            <div class="ipt-text annual-income">
                                <input type="text" class="ipt-text">万元
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="business">
                    <div class="business-title">
                        工作经历2
                    </div>
                    <ul class="business-form ui-form">
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>开始年月</span></strong>
                            <div class="ipt-text">
                                <input type="text" class="ipt-text" readonly>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>结束年月</span></strong>
                            <div class="ipt-text">
                                <input type="text" class="ipt-text" readonly>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>职业</span></strong>
                            <div class="ipt-select">
                                <i class="icon-arrow-full-down"></i>
                                <input type="text" class="ipt-text" placeholder="国家机关/党群组织" readonly>
                                <select>
                                    <option disabled selected value="">请选择职业</option>
                                    <option value="汉族">剑士</option>
                                    <option value="回族">灵剑</option>
                                </select>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>单位名称</span></strong>
                            <div class="ipt-select">
                                <i class="icon-arrow-full-down"></i>
                                <input type="text" class="ipt-text" placeholder="单位名称" readonly>
                                <select>
                                    <option disabled selected value="">单位名称</option>
                                    <option value="汉族">剑士</option>
                                    <option value="回族">灵剑</option>
                                </select>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>职位</span></strong>
                            <div class="ipt-text">
                                <input type="text" class="ipt-text">
                            </div>
                        </li>
                        <li class="col-md-6">
                            <strong><span class="mustWrite">*</span><span>年收入</span></strong>
                            <div class="ipt-text annual-income">
                                <input type="text" class="ipt-text">万元
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!--添加工作经历-->
            <div class="add-another-business">
                <button type="button" class="add-business"><i class="icon-jia"></i>添加教育经历</button>
            </div>

            <div class="part-form-title">
                <p class="part-title">外籍人员就业证</p>
            </div>

            <!--外籍人员就业证-->
            <div class="alien-wrapper">
                <div class="credentials-wrapper">
                    <img src="../../images/paper1.jpg" alt="">
                    <span></span>
                </div>

                <div class="re-upload">
                    <button type="button"><i class="icon-upload"></i>重新上传</button>
                </div>
            </div>

            <!--本地工作时间-->
            <div class="local-time">
                <ul class="local-time-input ui-form">
                    <li class="col-md-6">
                        <strong><span class="mustWrite">*</span><span>本地工作时间</span></strong>
                        <div class="ipt-select">
                            <i class="icon-arrow-full-down"></i>
                            <input type="text" class="ipt-text" placeholder="国家机关/党群组织" readonly>
                            <select>
                                <option disabled selected value="">请选择职业</option>
                                <option value="汉族">剑士</option>
                                <option value="回族">灵剑</option>
                            </select>
                        </div>
                    </li>
                    <li class="col-md-6">
                        <strong><span>累计工作时间</span></strong>
                        <div><span class="all-work-time">3.5</span>年</div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<!--底部按钮-->
<div class="bot-button">
    <div class="buttonGroup">
        <button type="button" class="savePersonalInfo">保存</button>
        <button type="button" class="goNext">下一步</button>
    </div>
</div>