{{~it:val:index}}
    {{? index==0}}
        <li data-orgId="{{=val.orgId}}" data-flowItemId="{{=val.flowItemId}}" data-flowActionId="{{=val.flowActionId}}" data-accountId="{{=val.accountId}}" data-moudleName="{{=val.moudleName}}" class="clearfix">
            {{? val.flowNode==="0"}}
            <div class="left fl  DE">
                <i class="icon-jihuashucur col_DEDEDE"></i>
            </div>
            <div class="right fl col_DEDEDE">
                <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
            </div>
            {{?? val.flowNode==="2"}}
            <div class="left fl bor_FB5340">
                <i class="icon-jihuashucur col_FB5340"></i>
            </div>
            <div class="right fl col_FB5340">
                <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
            </div>
            {{??}}
            <div class="left fl bor_1FD09B">
                <i class="icon-jihuashucur col_1FD09B"></i>
            </div>
            <div class="right fl col_1FD09B">
                <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
            </div>
            {{?}}
        </li>
    {{?? index==1}}
        <li data-orgId="{{=val.orgId}}" data-accountId="{{=val.accountId}}" data-flowItemId="{{=val.flowItemId}}" data-flowActionId="{{=val.flowActionId}}" data-moudleName="{{=val.moudleName}}" class="clearfix">
            {{? val.flowNode==="0"}}
            <div class="left fl bor_DEDEDE">
                <i class="icon-fangdajingmagnifier28 col_DEDEDE"></i>
            </div>
            <div class="right fl col_DEDEDE">
                <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
            </div>
            {{?? val.flowNode==="2"}}
            <div class="left fl bor_FB5340">
                <i class="icon-fangdajingmagnifier28 col_FB5340"></i>
            </div>
            <div class="right fl col_FB5340">
                <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
            </div>
            {{??}}
            <div class="left fl bor_1FD09B">
                <i class="icon-fangdajingmagnifier28 col_1FD09B"></i>
            </div>
            <div class="right fl col_1FD09B">
                <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
            </div>
            {{?}}
        </li>
    {{?? index==2}}
        <li data-orgId="{{=val.orgId}}" data-accountId="{{=val.accountId}}" data-flowItemId="{{=val.flowItemId}}" data-flowActionId="{{=val.flowActionId}}" data-moudleName="{{=val.moudleName}}" class="clearfix">
            {{? val.flowNode==="0"}}
            <div class="left fl bor_DEDEDE">
                <i class="icon-sousuo col_DEDEDE"></i>
            </div>
            <div class="right fl col_DEDEDE">
                <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
            </div>
            {{?? val.flowNode==="2"}}
            <div class="left fl bor_FB5340">
                <i class="icon-sousuo col_FB5340"></i>
            </div>
            <div class="right fl col_FB5340">
                <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
            </div>
            {{??}}
            <div class="left fl bor_1FD09B">
                <i class="icon-sousuo col_1FD09B"></i>
            </div>
            <div class="right fl col_1FD09B">
                <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
            </div>
            {{?}}
        </li>
    {{?? index==3}}
        <li data-orgId="{{=val.orgId}}" data-accountId="{{=val.accountId}}" data-flowItemId="{{=val.flowItemId}}" data-flowActionId="{{=val.flowActionId}}" data-moudleName="{{=val.moudleName}}" class="clearfix">
        {{? val.flowNode==="0"}}
        <div class="left fl bor_DEDEDE">
            <i class="icon-shiyongyinzhang col_DEDEDE"></i>
        </div>
        <div class="right fl col_DEDEDE">
            <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
        </div>
        {{?? val.flowNode==="2"}}
        <div class="left fl bor_FB5340">
            <i class="icon-shiyongyinzhang col_FB5340"></i>
        </div>
        <div class="right fl col_FB5340">
            <span>{{=val.flowName}}</span>{{=val.flowName}}<br><em>{{=''}}</em>
        </div>
        {{??}}
        <div class="left fl bor_1FD09B">
            <i class="icon-shiyongyinzhang col_1FD09B"></i>
        </div>
        <div class="right fl col_1FD09B">
            <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
        </div>
        {{?}}
    </li>
    {{?? index==4}}
        <li data-orgId="{{=val.orgId}}" data-accountId="{{=val.accountId}}" data-flowItemId="{{=val.flowItemId}}" data-flowActionId="{{=val.flowActionId}}" data-moudleName="{{=val.moudleName}}" class="clearfix">
        {{? val.flowNode==="0"}}
        <div class="left fl bor_DEDEDE">
            <i class="icon-shu col_DEDEDE"></i>
        </div>
        <div class="right fl col_DEDEDE">
            <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
        </div>
        {{?? val.flowNode==="2"}}
        <div class="left fl bor_FB5340">
            <i class="icon-shu col_FB5340"></i>
        </div>
        <div class="right fl col_FB5340">
            <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
        </div>
        {{??}}
        <div class="left fl bor_1FD09B">
            <i class="icon-shu col_1FD09B"></i>
        </div>
        <div class="right fl col_1FD09B">
            <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
        </div>
        {{?}}
    </li>
    {{?? index==5}}
        <li data-orgId="{{=val.orgId}}" data-accountId="{{=val.accountId}}" data-flowItemId="{{=val.flowItemId}}" data-flowActionId="{{=val.flowActionId}}" data-moudleName="{{=val.moudleName}}" class="clearfix">
        {{? val.flowNode==="0"}}
        <div class="left fl bor_DEDEDE">
            <i class="icon-qiyehechabidui col_DEDEDE"></i>
        </div>
        <div class="right fl col_DEDEDE">
            <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
        </div>
        {{?? val.flowNode==="2"}}
        <div class="left fl bor_FB5340">
            <i class="icon-qiyehechabidui col_FB5340"></i>
        </div>
        <div class="right fl col_FB5340">
            <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
        </div>
        {{??}}
        <div class="left fl bor_1FD09B">
            <i class="icon-qiyehechabidui col_1FD09B"></i>
        </div>
        <div class="right fl col_1FD09B">
            <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
        </div>
        {{?}}
    </li>
    {{?? index==6}}
        <li data-orgId="{{=val.orgId}}" data-accountId="{{=val.accountId}}" data-flowItemId="{{=val.flowItemId}}" data-flowActionId="{{=val.flowActionId}}" data-moudleName="{{=val.moudleName}}" class="clearfix">
        {{? val.flowNode==="0"}}
        <div class="left fl bor_DEDEDE">
            <i class="icon-7 col_DEDEDE"></i>
        </div>
        <div class="right fl col_DEDEDE">
            <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
        </div>
        {{?? val.flowNode==="2"}}
        <div class="left fl bor_FB5340">
            <i class="icon-7 col_FB5340"></i>
        </div>
        <div class="right fl col_FB5340">
            <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
        </div>
        {{??}}
        <div class="left fl bor_1FD09B">
            <i class="icon-7 col_1FD09B"></i>
        </div>
        <div class="right fl col_1FD09B">
            <span>{{=val.flowName}}</span><br><em>{{=''}}</em>
        </div>
        {{?}}
    </li>
    {{?}}
{{~}}
