<!--内容-->
<div class="content_select">
    <!-- header区域-->
    <div class="content-wraper select_getPersonnelPool"></div>
    <!-- 列表主题区域-->
    <div class="bottom">
        <div class="bottom-content clearfix">
            <div class="bottom-left tap-left select_flowNodebyParam">
                <ul>

                </ul>
            </div>
            <div class="wraper">
                <div class="bottom-right first">
                    <div class="bottom-header clearfix">

                    </div>
                    <ul class="right-bottom">

                   </ul>
                </div>


            </div>

        </div>
    </div>
    <!-- 统一的底部区域-->
</div>
