{{~it:val:index}}
<ul class="grid-row">
  <li class="col-md-3"><strong>关系</strong><p>{{=val.relationship}}</p></li>
  <li class="col-md-6"><strong>代理人代码</strong><p>{{=val.agentCode}}</p></li>
  <li class="col-md-3"><strong>电话</strong><p>{{=val.telephone}}</p></li>
  <li class="col-md-3"><strong>姓名</strong><p>{{=val.name}}</p></li>
  <li class="col-md-3"><strong>分公司</strong><p>{{=val.company}}</p></li>
  <li class="col-md-3"><strong>渠道</strong><p>{{=val.channel}}</p></li>
  <li class="col-md-3"><strong>职务</strong><p>{{=val.post}}</p></li>
  <li class="col-md-3"><strong>入职日期</strong><p>{{=val.entryDate}}</p></li>
</ul>
{{~}}