{{?it}}
<ul class="grid-row">
  <li class="col-md-3"><strong>人才计划</strong><p>{{=it.talentPlan}}</p></li>
  <li class="col-md-3"><strong>推荐</strong><p>{{=it.refereeNo}}</p></li>
  <li class="col-md-3"><strong>推荐人</strong><p>{{=it.refereeName}}</p></li>
  <li class="col-md-3"><strong>推荐时间</strong><p>{{=it.refereeStartTime}}</p></li>
  <li class="col-md-3"><strong>创建时间</strong><p>{{=it.createTime}}</p></li>
  <li class="col-md-3"><strong>创建人</strong><p>{{=it.createUser}}</p></li>
  <li class="col-md-3"><strong>更新时间</strong><p>{{=it.updateTime}}</p></li>
  <li class="col-md-3"><strong>更新人</strong><p>{{=it.updateUser}}</p></li>
</ul>
{{?}}