{{~it:val:index}}
<ul class="grid-row">
  <li class="col-md-3"><strong>开始时间</strong><p>{{=val.startTime}}</p></li>
  <li class="col-md-3"><strong>结束时间</strong><p>{{=val.endTime}}</p></li>
  <li class="col-md-3"><strong>工作年限</strong><p>{{=val.workTime}}</p></li>
  <li class="col-md-3"><strong>职业</strong><p>{{=val.occupation}}</p></li>
  <li class="col-md-3"><strong>职位</strong><p>{{=val.post}}</p></li>
  <li class="col-md-3"><strong>公司</strong><p>{{=val.company}}</p></li>
  <li class="col-md-3"><strong>年收入</strong><p>{{=val.annualIncome}}</p></li>
  <li class="col-md-3"><strong>创建时间</strong><p>{{=val.createTime}}</p></li>
  <li class="col-md-3"><strong>创建人</strong><p>{{=val.createUser}}</p></li>
  <li class="col-md-3"><strong>更新时间</strong><p>{{=val.updateTime}}</p></li>
  <li class="col-md-3"><strong>更新人</strong><p>{{=val.updateUser}}</p></li>
</ul>
{{~}}