<!--客户信息及排名-->
<div class="client-info-rank">
    <!--客户信息-->
    <div class="client-info">
        <h1 class="client-name">林月</h1>
        <p class="client-job-level">
            <span>上海分公司</span><span>业务经理</span>
        </p>
        <p class="client-team-scale">
            <i class="icon-tuandui"></i> <span>团队规模</span>10人
        </p>
        <div class="client-img">
            <img src="../../images/client.png" alt="">
        </div>
    </div>

    <!--进度及排名-->
    <div class="client-rank">
        <div class="client-title">
            <span class="schedule">进度排名</span>
            <div class="btn-control-team">
                <button type="button" class="control">个人</button>
                <button type="button" class="control active">团队</button>
                <button type="button" class="write"><i class="icon-writefill"></i></button>
            </div>
        </div>
        <div class="client-team-rank">
            <div class="col-md-8 parent-map">
                <div class="schedule-map">
                    <div id="schedule-table"></div>
                    <div class="now-schedule">当前进度</div>
                    <div class="schedule-text"><span>13</span> / 30</div>
                </div>

                <div class="control-time schedule-time">
                    <div class="active">年</div><div>月</div>
                </div>
            </div>
            <div class="col-md-4 single-team-rank">
                <p>分公司排名</p>
                <p><span>9</span>名</p>
            </div>
            <div class="curve">
                <img src="../../images/curve.png" alt="">
            </div>
        </div>
    </div>
</div>

<!--最新动态-->
<div class="recent-state">
    <h2>最新动态</h2>
    <div class="message-wrapper">

        <!--全屏时的swiper-->
        <div class="full-slide">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul class="full-screen">
                        <li>
                            <i class="icon-xiaoxitongzhifill"></i>
                            收到 张一** 的初审面试资料。收到 张一** 的初审面试资料。
                        </li>
                        <li>
                            <i class="icon-liuyan"></i>
                            收到 张一** 的初审面试资料。收到 张一** 的初审面试资料。
                        </li>
                        <li>
                            <i class="icon-purchasereceipt"></i>
                            收到 张一** 的初审面试资料。收到 张一** 的初审面试资料。
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="full-screen">
                        <li>
                            <i class="icon-xiaoxitongzhifill"></i>
                            收到 张一** 的初审面试资料。收到 张一** 的初审面试资料。
                        </li>
                        <li>
                            <i class="icon-liuyan"></i>
                            收到 张一** 的初审面试资料。收到 张一** 的初审面试资料。
                        </li>
                        <li>
                            <i class="icon-purchasereceipt"></i>
                            收到 张一** 的初审面试资料。收到 张一** 的初审面试资料。
                        </li>
                    </ul>
                </div>
            </div>

            <!--分页器-->
            <div class="swiper-pagination"></div>
        </div>

        <!--半屏时的swiper-->
        <div class="half-slide">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul class="half-screen">
                        <li>
                            <i class="icon-xiaoxitongzhifill"></i>
                            收到 张一** 的初审面试资料。
                        </li>
                        <li>
                            <i class="icon-liuyan"></i>
                            收到 张一** 的初审面试资料。
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="half-screen">
                        <li>
                            <i class="icon-xiaoxitongzhifill"></i>
                            收到 张一** 的初审面试资料。
                        </li>
                        <li>
                            <i class="icon-liuyan"></i>
                            收到 张一** 的初审面试资料。
                        </li>
                    </ul>
                </div>
            </div>

            <!--分页器-->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

<!--增员招聘-->
<div class="add-recruit-list">
    <div class="toggle-table-cond">
        <p class="active">我的增员（<span>10</span>）</p>
        <p>我的招聘（<span>4</span>）</p>
    </div>
    <div class="list-recruit-add">
        <ul class="ui-table">
            <li class="ui-tabrow ui-table-head">
                <p class="ui-tabcell">姓名</p>
                <p class="ui-tabcell">性别</p>
                <p class="ui-tabcell">年龄</p>
                <p class="ui-tabcell">联系方式</p>
                <p class="ui-tabcell">人才计划</p>
                <p class="ui-tabcell">增员进度</p>
                <p class="ui-tabcell">当前环节</p>
            </li>
            <li class="ui-tabrow">
                <p class="ui-tabcell">张*力</p>
                <p class="ui-tabcell">男</p>
                <p class="ui-tabcell">27</p>
                <p class="ui-tabcell">13377880088</p>
                <p class="ui-tabcell">SA</p>
                <p class="ui-tabcell">1/6</p>
                <p class="ui-tabcell go-to-next">资料录入</p>
            </li>
            <li class="ui-tabrow">
                <p class="ui-tabcell">张*力</p>
                <p class="ui-tabcell">男</p>
                <p class="ui-tabcell">27</p>
                <p class="ui-tabcell">13377880088</p>
                <p class="ui-tabcell">SA</p>
                <p class="ui-tabcell">1/6</p>
                <p class="ui-tabcell go-to-next">初审面试</p>
            </li>
            <li class="ui-tabrow">
                <p class="ui-tabcell">张*力</p>
                <p class="ui-tabcell">男</p>
                <p class="ui-tabcell">27</p>
                <p class="ui-tabcell">13377880088</p>
                <p class="ui-tabcell">SA</p>
                <p class="ui-tabcell">1/6</p>
                <p class="ui-tabcell go-to-next">甄选面试</p>
            </li>
            <li class="ui-tabrow">
                <p class="ui-tabcell">张*力</p>
                <p class="ui-tabcell">男</p>
                <p class="ui-tabcell">27</p>
                <p class="ui-tabcell">13377880088</p>
                <p class="ui-tabcell">SA</p>
                <p class="ui-tabcell">1/6</p>
                <p class="ui-tabcell go-to-next">资料录入</p>
            </li>
            <li class="ui-tabrow">
                <p class="ui-tabcell">张*力</p>
                <p class="ui-tabcell">男</p>
                <p class="ui-tabcell">27</p>
                <p class="ui-tabcell">13377880088</p>
                <p class="ui-tabcell">SA</p>
                <p class="ui-tabcell">1/6</p>
                <p class="ui-tabcell go-to-next">资料录入</p>
            </li>
            <li class="ui-tabrow">
                <p class="ui-tabcell">张*力</p>
                <p class="ui-tabcell">男</p>
                <p class="ui-tabcell">27</p>
                <p class="ui-tabcell">13377880088</p>
                <p class="ui-tabcell">SA</p>
                <p class="ui-tabcell">1/6</p>
                <p class="ui-tabcell go-to-next">资料录入</p>
            </li>
            <li class="ui-tabrow">
                <p class="ui-tabcell">张*力</p>
                <p class="ui-tabcell">男</p>
                <p class="ui-tabcell">27</p>
                <p class="ui-tabcell">13377880088</p>
                <p class="ui-tabcell">SA</p>
                <p class="ui-tabcell">1/6</p>
                <p class="ui-tabcell go-to-next">资料录入</p>
            </li>
        </ul>
    </div>
</div>

<!--底部浮动层-->
<div class="float-bot">
    <img src="../../images/bottom-index.png" alt="">
</div>