<div class="materials-wrapper">
    <div class="materials-header">
        <div class="mater-top-flag">
            <ul class="mater-flag">
                <li class="active"><i class="iconfont icon-wenjian"></i>材料复核</li>
                <li class="future"><i class="iconfont icon-wenjian"></i>材料复核</li>
                <li class="future"><i class="iconfont icon-wenjian"></i>声明与告知</li>
                <li class="future"><i class="iconfont icon-wenjian"></i>提交预览</li>
            </ul>
        </div>
    </div>
    <div class="materials-content">
        <div class="mater-breviary">
            <div class="personal-info">
                <div class="mater-logo">
                    <img src="../../images/info.png" alt="">
                </div>
                <div class="mater-title">个人信息</div>
                <div class="mater-status-select">
                    <div class="mater-status">
                        <i class="icon-gouxuan"></i>
                    </div>
                    <div class="mater-select">
                        <i class="icon-xiajiantou"></i>
                    </div>
                </div>
            </div>
            <div class="mater-detail hidden">
                <ul class="grid-row">
                    <li class="col-md-3"><strong>证件类型</strong><p>身份证</p></li>
                    <li class="col-md-6"><strong>证件号码</strong><p>2311231987****1234</p></li>
                    <li class="col-md-3"><strong>证件有效期至</strong><p>2020/01/10</p></li>

                    <li class="col-md-3"><strong>姓名</strong><p>张**峰</p></li>
                    <li class="col-md-3"><strong>性别</strong><p>男</p></li>
                    <li class="col-md-3"><strong>年龄</strong><p>28岁</p></li>
                    <li class="col-md-3"><strong>生日</strong><p>10月21日</p></li>

                    <li class="col-md-3"><strong>民族</strong><p>名族</p></li>
                    <li class="col-md-3"><strong>政治面貌</strong><p>群众</p></li>
                    <li class="col-md-3"><strong>新人来源</strong><p>招募活动能</p></li>
                    <li class="col-md-3"><strong>来源渠道</strong><p>客户</p></li>
                </ul>
            </div>
        </div>
        <div class="mater-breviary">
            <div class="personal-info">
                <div class="mater-logo">
                    <img src="../../images/info.png" alt="">
                </div>
                <div class="mater-title">家庭信息</div>
                <div class="mater-status-select">
                    <div class="mater-status">
                        <i class="icon-gouxuan"></i>
                    </div>
                    <div class="mater-select">
                        <i class="icon-xiajiantou"></i>
                    </div>
                </div>
            </div>
            <div class="mater-detail hidden">
                <ul class="grid-row">
                    <li class="col-md-3"><strong>证件类型</strong><p>身份证</p></li>
                    <li class="col-md-6"><strong>证件号码</strong><p>2311231987****1234</p></li>
                    <li class="col-md-3"><strong>证件有效期至</strong><p>2020/01/10</p></li>

                    <li class="col-md-3"><strong>姓名</strong><p>张**峰</p></li>
                    <li class="col-md-3"><strong>性别</strong><p>男</p></li>
                    <li class="col-md-3"><strong>年龄</strong><p>28岁</p></li>
                    <li class="col-md-3"><strong>生日</strong><p>10月21日</p></li>

                    <li class="col-md-3"><strong>民族</strong><p>名族</p></li>
                    <li class="col-md-3"><strong>政治面貌</strong><p>群众</p></li>
                    <li class="col-md-3"><strong>新人来源</strong><p>招募活动能</p></li>
                    <li class="col-md-3"><strong>来源渠道</strong><p>客户</p></li>
                </ul>
            </div>
        </div>
        <div class="mater-breviary">
            <div class="personal-info">
                <div class="mater-logo">
                    <img src="../../images/info.png" alt="">
                </div>
                <div class="mater-title">教育经历</div>
                <div class="mater-status-select">
                    <div class="mater-status">
                        <i class="icon-gouxuan"></i>
                    </div>
                    <div class="mater-select">
                        <i class="icon-xiajiantou"></i>
                    </div>
                </div>
            </div>
            <div class="mater-detail hidden">
                <ul class="grid-row">
                    <li class="col-md-3"><strong>证件类型</strong><p>身份证</p></li>
                    <li class="col-md-6"><strong>证件号码</strong><p>2311231987****1234</p></li>
                    <li class="col-md-3"><strong>证件有效期至</strong><p>2020/01/10</p></li>

                    <li class="col-md-3"><strong>姓名</strong><p>张**峰</p></li>
                    <li class="col-md-3"><strong>性别</strong><p>男</p></li>
                    <li class="col-md-3"><strong>年龄</strong><p>28岁</p></li>
                    <li class="col-md-3"><strong>生日</strong><p>10月21日</p></li>

                    <li class="col-md-3"><strong>民族</strong><p>名族</p></li>
                    <li class="col-md-3"><strong>政治面貌</strong><p>群众</p></li>
                    <li class="col-md-3"><strong>新人来源</strong><p>招募活动能</p></li>
                    <li class="col-md-3"><strong>来源渠道</strong><p>客户</p></li>
                </ul>
            </div>
        </div>
        <div class="mater-breviary">
            <div class="personal-info">
                <div class="mater-logo">
                    <img src="../../images/info.png" alt="">
                </div>
                <div class="mater-title">工作经历</div>
                <div class="mater-status-select">
                    <div class="mater-status">
                        <i class="icon-gouxuan"></i>
                    </div>
                    <div class="mater-select">
                        <i class="icon-xiajiantou"></i>
                    </div>
                </div>
            </div>
            <div class="mater-detail hidden">
                <ul class="grid-row">
                    <li class="col-md-3"><strong>证件类型</strong><p>身份证</p></li>
                    <li class="col-md-6"><strong>证件号码</strong><p>2311231987****1234</p></li>
                    <li class="col-md-3"><strong>证件有效期至</strong><p>2020/01/10</p></li>

                    <li class="col-md-3"><strong>姓名</strong><p>张**峰</p></li>
                    <li class="col-md-3"><strong>性别</strong><p>男</p></li>
                    <li class="col-md-3"><strong>年龄</strong><p>28岁</p></li>
                    <li class="col-md-3"><strong>生日</strong><p>10月21日</p></li>

                    <li class="col-md-3"><strong>民族</strong><p>名族</p></li>
                    <li class="col-md-3"><strong>政治面貌</strong><p>群众</p></li>
                    <li class="col-md-3"><strong>新人来源</strong><p>招募活动能</p></li>
                    <li class="col-md-3"><strong>来源渠道</strong><p>客户</p></li>
                </ul>
            </div>
        </div>
        <div class="mater-breviary">
            <div class="personal-info">
                <div class="mater-logo">
                    <img src="../../images/info.png" alt="">
                </div>
                <div class="mater-title">计划申请</div>
                <div class="mater-status-select">
                    <div class="mater-status">
                        <i class="icon-gouxuan"></i>
                    </div>
                    <div class="mater-select">
                        <i class="icon-xiajiantou"></i>
                    </div>
                </div>
            </div>
            <div class="mater-detail hidden">
                <ul class="grid-row">
                    <li class="col-md-3"><strong>证件类型</strong><p>身份证</p></li>
                    <li class="col-md-6"><strong>证件号码</strong><p>2311231987****1234</p></li>
                    <li class="col-md-3"><strong>证件有效期至</strong><p>2020/01/10</p></li>

                    <li class="col-md-3"><strong>姓名</strong><p>张**峰</p></li>
                    <li class="col-md-3"><strong>性别</strong><p>男</p></li>
                    <li class="col-md-3"><strong>年龄</strong><p>28岁</p></li>
                    <li class="col-md-3"><strong>生日</strong><p>10月21日</p></li>

                    <li class="col-md-3"><strong>民族</strong><p>名族</p></li>
                    <li class="col-md-3"><strong>政治面貌</strong><p>群众</p></li>
                    <li class="col-md-3"><strong>新人来源</strong><p>招募活动能</p></li>
                    <li class="col-md-3"><strong>来源渠道</strong><p>客户</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--底部按钮-->
<div class="bot-button">
    <div class="buttonGroup">
        <button type="button" class="savePersonalInfo">保存</button>
        <button type="button" class="goNext">下一步</button>
    </div>
</div>