

.content_family{
    position: relative;
    height: 100%;
    padding: 50px 40px 66px;
    background: #fff;
}
.content_family .header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 128px;
    background: url(../images/bg-content.png) no-repeat;
    background-size: 100%;
    line-height: 14px;
}
.content_family .header li{
    float: left;
    color: #CDC0B7;
    font-size: 14px;

    text-align: center;
    width: 150px;
}
.content_family .header .wrap {
    margin-right: 40px;
}
.content_family .header .text {
    margin-top: 28px;
    margin-bottom: 14px;
    font-size: 16px;
    color: #5B5B5B;
    line-height: 21px;
}
.content_family .header .rang {
    position: relative;
    width: 600px;
    height: 3px;
    background:#DDC9BA;
}
.content_family .header .rang-son {
    position: absolute;
    width: 150px;
    height: 3px;
    background-color:  #E87722;
}
.content_family .content_body{
    position: relative;
    top: 26px;
    left: 0;
    padding: 0 10px;
}
.content_family .content_body>ul{
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding: 25px 20px 0;
}
.add{
    width: 300px;
    height: 50px;
    background-color: rgba(247, 164, 40, 1);
    margin: 50px auto 0;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
}
.add i{
    margin-right: 5px;
}

.flexbox li{
    display: flex;
    justify-content: space-between;
}


