.interview-wrapper{
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 0 32px 66px 32px;
    overflow-y: auto;

}
.preson-bg-head{
   margin-right: 15px;
}
.view-top{
    height: 106px;
    width: 100%;
}
.get-score{
    width: 100%;
    height: 76px;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start
}
.get-score p:nth-child(1){
    font-size: 18px;
    color: #575756;
    text-align: right;
    width: 45%;
}
.get-score .score-one{
    color: #E87722;
    padding-right: 9px;
}
.get-score .score-two{
    display: inline-block;
    font-size: 14px;
    color: #AAAAAA;
    width: 73px;
    text-align: left;
}
.get-score .score-three{
    font-size: 14px;
    color: #AAAAAA;
    padding-left: 5px;
    width: 20%;
}

.get-score .get-rang{
    position: relative;
    width: 34%;
    height: 5px;
    background: #D7D7D7;
    border-radius: 74px;
}

.get-score .get-rang-son{
    position: absolute;
    width: 230px;
    height: 5px;
    background-image: linear-gradient(-90deg, #E87722 3%, #FB5340 100%);
    border-radius: 74px;
}
.preson-bg{
    width:100%;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    margin-bottom: 14px;
}
.preson-bg-top{
    height:76px;
    background: #F6F6F6;
    padding: 0 32px 0 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.bg-top-left{
    font-size: 18px;
    color: #575756;
}
.bg-top-right span:nth-child(1){
    font-size: 20px;
    color: #E87722;
}
.bg-top-right span:nth-child(2){
    font-size: 14px;
    color: #000000;
}
.bg-gouxian{
    padding: 0 25px 0 38px;
    color: #1FD09B;
    font-size: 24px;
}
.bg-arrowup{
    color: #CECECE;
    font-size: 21px;
}
.preson-bg-list{
    height: 95px;
    margin: 0 30px;
    border-bottom: 1px dashed #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stars-list{
    width: 193px;
    height: 60px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.stars-list li{
    width: 30px;
    height: 60px;
    margin: 0;
}
.stars-list li i{
    display: block;
    font-size: 25px;
    color: #E5E5E5;
}
.stars-list li span{
    font-size: 13px;
    color:  #8D8D8D;
}
.stars-list .active i,.stars-list .active span{
    color: #E87722
}

.preson-bg-asses{
    height: 99px;
    margin: 0 30px;
}
.preson-bg-asses strong{
    display: block;
    padding:22px 0 8px 0;
}