.content{
    padding: 39px 40px 66px;
}
.content ul li{
    margin-bottom: 37px;
}
.content ul li i{
    display: inline-block;
    font-size: 16px;
    color: #575756;
    line-height: 37px;
    border-bottom: 2px solid #E57A30;
    margin-bottom: 27px;
}
.content ul li .list{
    height: 90px;
    line-height:36px;
    padding: 26px 0 26px 34px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    box-sizing: border-box;
}
.content ul li .list em{
    margin-right: 30px;
}
.content .ui-form li strong{
    text-align: left;
    width: 80px;
    margin-right: 20px;
}
input.ipt_text{
    width: 232px;
}
.form li{
    float: left;
    /*padding: 0 53px 0 84px;*/
}
.form li:nth-child(2){
    width: 167px;
}
.legal-person input{
    border: 1px solid #BFBFBF;
    border-radius: 3px;
    width: 17px;
    height: 17px;
    vertical-align: middle;
}
.content ul li .legal-person{
    position: absolute;
    right:-196px;
    top: 0;
}
.list .h38{
    height: 38px;
}
input.sencond_input{
    width: 167px;
}
.ipt-text.ipt_date{
    width: 230px;
}
.list .span_second{
    border: 1px solid #E87722;
    border-radius: 100px;
    width: 96px;
    height: 37px;
    line-height: 37px;
    font-size: 15px;
    color: #E87722;
    text-align: center;
    padding-left: 0;
}
.content li:nth-child(3) .list{
    padding-left: 0;
    padding-right: 0;
}

.content li:nth-child(3) .list>span:last-child{
    border: 1px solid #E87722;
    border-radius: 100px;
    width: 127px;
    height: 37px;
    line-height: 37px;
    font-size: 15px;
    color: #E87722;
    text-align: center;
    padding-left: 0;
}
.col-md-2{
    padding-left: 26px;
    box-sizing: border-box;
}
.content ul li .list{
    padding-right: 29px;
}
.content ul li .list .ipt_select{
    width: 232px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 3px;
    top: -38px;
    left:108px;
}
.content ul li .list .ipt_select>i{
    border-bottom: none;
    position: absolute;
    right: 10px;
    top: 50%;
    color: #d3d3d3;
    font-size: 12px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 1;
}
.content .content-last-list{
    padding-left: 17px;
    font-size: 15px;
    color: #8B572A;
    background: #FFFBF6;
    border: 1px solid #E9E1D7;
    border-radius: 10px;
    width: 100%;
    height: 54px;
    line-height: 54px;
}
.content ul li .content-last-list i{
    display: inline-block;
    font-size: 21px;
    color: #8B572A;
     /*line-height:55px;*/
    vertical-align: middle;
     border-bottom:none;
     margin-bottom: 0;
    margin-right: 16px;
}