/*准增员*/
.preson-wraper{
    width: 100%;
    height: 100%;
    background-color:#fff;
    /*box-shadow: 0 2px 15px 0 rgba(157,157,157,0.27);*/
    border-radius: 10px;
    overflow-y: auto;
    margin-bottom: 66px;
    background: url("../images/bg-content.png") no-repeat;
    background-color:#fff;
    background-size: 100% 16%;
}

/*头部tap-*/
.preson-tap{
    width: 429px;
    height: 40px;
    line-height: 40px;
    margin: 24px auto 29px auto;
}
.preson-tap li{
    float: left;
    width: 143px;
    height: 40px;
    /*opacity: 0.63;*/
    background: rgba(255,255,255,0.50);
    border: 1px solid #DDCBCB;
    text-align: center;
}
.preson-tap .active{
    background: linear-gradient(-10deg, #E87722 4%, #FB5340 100%);
    background: -webkit-linear-gradient(-10deg, #E87722 4%, #FB5340 100%);
    color: #fff;
}

.preson-tap li:nth-child(1){
     border-radius: 15px 0 0 15px;
 }
.preson-tap li:nth-child(3){
    border-radius: 0 15px 15px 0;
}

/*状态栏*/
.preson-state{
    width: 615px;
    height: 38px;
    border: 1px solid #E8E8E8;
    border-radius: 100px;
    margin: 5px 0 10px 33px;
}
.preson-state li{
    float: left;
    color: #8B8A8A;
    padding-left: 26px;
    height: 38px;
    line-height: 38px;
}
.preson-state li i{
    display: inline-block;
    vertical-align: middle;
    font-size: 23px;
    margin-right: 5px;
}

/*人员数据列表栏*/
.preson-content{
    width: 100%;
    padding:0 29px 0 33px;
    box-sizing: border-box;
}
.preson-content-pre{
    width: 100%;
    height: 155px;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    display: flex;
    margin-bottom: 20px;
}

.preson-info{
    width: 179px;
    height: 100%;
    background-image: url(../images/client.png);
    background-size: 100% 100%;
    color: #FFFFFF;
}
.preson-content-pre div:nth-child(1){flex-shrink:0}
.pre-md-1{width:29%}
.pre-md-2{width:29%}
.pre-md-3{width:20%}
.pre-md-4{width:26%}
.pre-md-5{width:26%}
.pre-md-6{width:26%}

.preson-info-left{
    box-sizing: border-box;
    padding: 20px 0 12px 28px;
}
.preson-info-left h1{
    font-family: SFNSDisplay;
    font-size: 20px;
    font-weight: bold;
    color: #575756;
    padding-bottom: 5px;
}
.preson-info-left p{
    font-size: 16px;
    color: #717171;
    padding-top: 6px;
}
.preson-info-left p i{
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    margin-right: 11px;
}
.span-md-1{margin-left: 17px}
.span-md-2{
    display: inline-block;
    width: 104px;
    margin-right: 5px;
}
.preson-info-line{
    width: 1px;
    height: 88px;
    margin-top: 42px;
    background-color: #EBEBEB;
}
.preson-info-mid{
    box-sizing: border-box;
    padding: 58px 30px 41px 36px;
}
.preson-info-mid p:not(:first-child){
    padding-top: 6px
}

.preson-info-tip{
    box-sizing: border-box;
    padding: 47px 0 28px 0;
    text-align: center;
}
.preson-info-tip p{
    height: 22px;
    line-height: 22px;
    float:left;
    font-size: 13px;
    color: #4877A5;
    border: 1px solid #DCDCDC;
    border-radius: 69px;
    padding: 0 9px;
    margin:0 6px 6px 0
}

.preson-add-mid ,.preson-add-tip{
    box-sizing: border-box;
    padding: 87px 0 12px 26px;
}
.preson-add-mid p:not(:first-child),.preson-add-tip p:not(:first-child){
    padding-top: 6px
}
.preson-add-tip i{
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
}

/*页面底部浮层*/
.preson-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 66px;
    z-index: 10;
    background-image: url("../images/common-bottom.png");
    background-size:100% 100%;
    /*opacity: .8*/
}
.preson-footer .add-client{
    width: 220px;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    height: 66px;
    line-height: 76px;
}
.preson-footer span{
    padding-left: 6px;
}

.work-list-head:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #EDEDED;
    left: 3px;
    top: 15px;
}


/*iconfont颜色*/
.icon-gengduo{color:rgb(61,174,642)}
.icon-correct{color:rgb(87,218,179)}
.icon-jinggao{color:rgb(235,135,60)}
.icon-qianbipen{color:rgb(245,166,35)}
.icon-shanchu{color:rgb(207,30,74)}
.icon-solid-person,.icon-3,.icon-icon-test{color: #E4E4E4}





/*目标管理*/
.target-wraper{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.targrt-content{
    width: 100%;
    padding: 0 45px;
    box-sizing: border-box;
    margin-top: -160px;
    margin-bottom: 70px;
}
.target-set{
    color:  #E87722;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E87722;
}
.target-set i{
    color: #575757;
}
.target-time{
    height: 60px;
    line-height: 60px;
}
.target-time span {
    color: #E87722;
    padding: 0 20px;
}
.target-month{
    width: 100%;
    margin: 10px 0 0 0;
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.target-month li{
    height: 120px;
    width: 180px;
    margin: 0;
    border: 1px solid  #E87722;
    margin-bottom: 30px;
    position: relative;
}

.each-month{
    font-size: 30px;
    padding: 5px 10px;
}

.each-month i{
    position: absolute;
    top:5px;
    right:10px;
    color: #E87722;
}
.each-preson{
    font-size: 18px;
    text-align: center;
}

.each-preson span{
    font-size: 30px;
    color: #E87722;
    padding: 0 10px;
}
