.content{
    position: relative;
}
.content_bg{
    background-color: #fff;
}
.content_hight{
    height: 100%;
}
.content .header{
    height: 128px;
    background: url("../images/bg-content.png") no-repeat;
    background-size: 100%;
    position: absolute;
    right: 40px;
}
.content .header .wrap{
    margin-right: 40px;
}
.content .header .text{
    margin-top: 28px;
    margin-bottom: 14px;
    font-size: 16px;
    color: #5B5B5B;
    line-height: 21px;
}
.content .header .text em{
    color: #00231C;
}
.content .header .rang{
    position: relative;
    width: 281px;
    height: 5px;
    background: #D7D7D7;
    border-radius: 74px;
}
.content .header .rang-son{
    position: absolute;
    width: 230px;
    height: 5px;
    background-image: linear-gradient(-90deg, #E87722 3%, #FB5340 100%);
    border-radius: 74px;

}
.content ul.content-body{
    position: relative;
    top: 26px;
    left: 0;
}
.content ul.content-body>li:nth-child(1){
    margin-bottom: 23px;
}
.content ul.content-body>li:last-child .content-list{
    height: 143px;
    margin-bottom: 0;
}

.content ul li .content-list{
    height: 213px;
    padding: 22px 29px 18px 35px;
    line-height: 36px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    box-sizing: border-box;
}
.content .content-list li ul li{
    margin-bottom: 0;
    font-size: 16px;
    color: #575756;
    letter-spacing: 0;
    line-height: 34px;
}
.content .content-list>ul>li{
    margin-bottom: 16px;
}
.content ul li .content-list p{
    width: 100%;
    height: 55px;
    background: #FFF6F6;
    border: 1px solid #F1DEDE;
    border-radius: 10px;
    line-height: 55px;
    padding-left: 20px;
    font-size: 15px;
    color: #FB5340;
}
.content ul li .content-list p i{
    display: inline-block;
    font-size: 21px;
    color: #FB5340;
    border-bottom: 0;
    margin-bottom:0px;
    margin-right: 15px;
    vertical-align: middle;
}
.content ul li i{
    margin-bottom: 19px;
}