<div class="application-wrapper">
    <!--头部背景图-->
    <div class="bg-top">
        <ul class="bg-header">
            <li class="bg-wenjian"><i class="icon-wenjian">基础信息</i></li>
            <li class="bg-ziliao"><i class="icon-yingxiangsheying">影像材料</i></li>
            <li class="bg-plan"><i class="icon-jihuashucur">计划申请</i></li>
        </ul>
    </div>
    <!--计划申请-->
    <div class="plan-apply getApply">
        <div class="box box-border">
            <!--人才计划-->
            <div class="plan">
                <div class="person-plan">
                    <div class="plan-left">
                        <img src="../../images/info.png" alt="">
                    </div>
                    <div class="plan-right plan-start">
                        <span>申请人才计划</span>
                        <span>HA</span>
                    </div>
                </div>
            </div>
            <!--推荐人信息-->
            <div class="plan">
                <div class="person-plan">
                    <div class="plan-left">
                        <img src="../../images/info.png" alt="">
                    </div>
                    <div class="plan-right">
                        <span>推荐人信息</span>
                        <span>推荐人姓名：夏侯**</span>
                        <span>推荐人证件号码：GT0000001</span>
                    </div>
                </div>
            </div>
            <!--引荐关系确认-->
            <div class="plan">
                <div class="person-plan">
                    <div class="plan-left">
                        <img src="../../images/info.png" alt="">
                    </div>
                    <div class="plan-right">
                        <span>引荐关系确认</span>
                        <div class="plan-state">
                            <i class="a">引荐关系申明</i>
                        </div>
                        <span>引荐关系开始日期：2017/12/01</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部按钮-->
<div class="bot-button">
    <button type="button" class="editPlan">修改人才计划</button>
    <div class="buttonGroup">
        <button type="button" class="savePersonalInfo">不通过</button>
        <button type="button" class="goNext">通过</button>
    </div>
</div>