  {{~it:val:index}}
    <div class="box box-border">
      <!--人才计划-->
      <div class="plan">
        <div class="person-plan">
          <div class="plan-left">
            <img src="../../images/info.png" alt="">
          </div>
          <div class="plan-right plan-start">
            <span>申请人才计划</span>
            <span>{{=val.talentPlan}}</span>
          </div>
        </div>
      </div>
      <!--推荐人信息-->
      <div class="plan">
        <div class="person-plan">
          <div class="plan-left">
            <img src="../../images/info.png" alt="">
          </div>
          <div class="plan-right">
            <span>推荐人信息</span>
            <span>推荐人姓名：{{=val.refereeName}}</span>
            <span>推荐人证件号码：{{=val.refereeNo}}</span>
          </div>
        </div>
      </div>
      <!--引荐关系确认-->
      <div class="plan">
        <div class="person-plan">
          <div class="plan-left">
            <img src="../../images/info.png" alt="">
          </div>
          <div class="plan-right">
            <span>引荐关系确认</span>
            <div class="plan-state">
              <i class="a">引荐关系申明</i>
            </div>
            <span>引荐关系开始日期：{{=val.refereeStartTime}}</span>
          </div>
        </div>
      </div>
    </div>
  {{~}}