*{-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}
html, body{height:100%;background-color: #eee;}
body {
    background: url("../images/bg-index.png") no-repeat;
    background-size: 100%;
}


/* ClearFix 
*****************************************/
.clearfix{zoom:1;}
.clearfix:after{clear:both;display:block;overflow:hidden;height:0;content:'';}

/* Wrapper
*****************************************/
.wrapper{width: 100%;position: relative;margin: 0 auto;padding: 44px 20px 0;height: 100%;}

/* Grid System
*****************************************/
.grid-row{display:block}
.grid-row:after{display:table;content:'';clear:both}
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left;}
.col-md-12{width:100%;}
.col-md-11{width:91.66666667%;}
.col-md-10{width:83.33333333%;}
.col-md-9{width:75%;}
.col-md-8{width:66.66666667%;}
.col-md-7{width:58.33333333%;}
.col-md-6{width:50%;}
.col-md-5{width:41.66666667%;}
.col-md-4{width:33.33333333%;}
.col-md-3{width:25%;}
.col-md-2{width:16.66666667%;}
.col-md-1{width:8.33333333%;}

/* Color
*****************************************/
.color-error{color:#E57A30 !important}
.color-success{color:#50BCC9 !important}
.color-active{color:#0489CD !important}

/* Button
*****************************************/
.btn{display:inline-block;height:36px;line-height:34px;font-size:16px;padding:0 15px;border-radius:5px;text-align:center;box-sizing:border-box}
.btn-lg{width:100%;height:44px;line-height:42px;font-size:16px}
.btn-sm{padding:0 10px;height:30px;line-height:28px;font-size:14px}
.btn-default{background-color:#e5e5e5;border:1px solid #e5e5e5;color:#555}
.btn-submit{background-color:#E57A30;border:1px solid #E57A30;color:#fff}
.btn-danger{background-color:#FB5340;border:1px solid #FB5340;color:#fff}
.btn-tips{background-color:#E6F8FF;border:1px solid #CCF4FF;color:#0187CC}
.btn-code{background-color:#FFF4E8;border:1px solid #D5BCA4;color:#B08D76}

/* Form
*****************************************/
/* ipt-text */
input.ipt-text{width:100%;font-size:15px;height:38px;line-height:36px;padding:0 10px;border:1px solid #dadada;background-color:#fff;border-radius:3px;box-sizing:border-box}
input.ipt-text:disabled{opacity:.6}
/* ipt-datetime */
.ipt-datetime{position:relative}
.ipt-datetime .ipt-text{padding-right:40px}
.ipt-datetime i{position:absolute;right:10px;top:50%;color:#dfdfdf;font-size:22px;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);z-index:1}
/* ipt-datetime-age */
.ipt-datetime-age{position:relative;padding-right:60px}
.ipt-datetime-age > .ipt-text{position:absolute;right:0;width:50px;top:0;background-color:#f7f7f7;text-align:center}
/* ipt-datetime-range */
.ipt-datetime-range .ipt-datetime{float:left;width:45%}
.ipt-datetime-range > span{float:left;text-align:center;width:10%;line-height:38px}
/* ipt-select */
.ipt-select{position:relative;}
.ipt-select i{position:absolute;right:10px;top:50%;color:#d3d3d3;font-size:12px;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);z-index:1}
.ipt-select select{position:absolute;left:0;top:0;height:100%;width:100%;opacity:0;z-index:2;box-sizing:border-box}
/* ipt-radio, ipt-checkbox */
.ipt-radio:after, .ipt-checkbox:after{clear:both;display:block;content:''}
.ipt-radio label, .ipt-checkbox label{position:relative;float:left;display:inline-block;width:110px;height:38px;line-height:36px;margin-right:10px;text-align:center;border:1px solid #dadada;background-color:#fff;border-radius:3px;font-size:16px;cursor:pointer;overflow:hidden}
.ipt-radio.auto label, .ipt-checkbox.auto label{width:auto;padding:0 15px}
.ipt-radio label:last-child, .ipt-checkbox label:last-child{margin-right:0}
.ipt-radio label.disabled, .ipt-checkbox label.disabled{opacity:.6}
.ipt-radio label.checked, .ipt-checkbox label.checked{border-color:#E87722;color:#E87722}
.ipt-radio label.checked:before, .ipt-checkbox label.checked:before{position:absolute;right:0;bottom:0;width:30px;height:30px;content:'';background-color:#E87722;transform:rotate(45deg) translate(22px, 0);-webkit-transform:rotate(45deg) translate(22px, 0);-moz-transform:rotate(45deg) translate(22px, 0);z-index:1}
.ipt-radio label.checked:after, .ipt-checkbox label.checked:after{position:absolute;right:0;bottom:1px;content:'\e616';font-size:9px;font-family:'iconfont';color:#fff;line-height:9px;z-index:2}
.ipt-radio label input, .ipt-checkbox label input{display:none}
.ipt-radio > .ipt-text{width:300px}
/* ipt-range */
.ipt-range{min-height:38px}
.ipt-range .ipt-text{float:left;width:40%}
.ipt-range span{float:left;display:inline-block;width:20%;line-height:38px;text-align:center;color:#979797}
/* ipt-textarea */
.ipt-textarea{width:100%;font-size:15px;height:134px;line-height:24px;padding:6px 10px;border:1px solid #dadada;background-color:#fff;border-radius:3px;box-sizing:border-box}
/* ipt-file */
.ipt-file{position:relative;display:inline-block;width:202px;height:116px;margin-right:12px;border:1px solid #dadada;border-radius:3px;overflow:hidden}
.ipt-file input[type=file]{position:absolute;left:0;top:0;height:100%;width:100%;opacity:0;z-index:3}
.ipt-file img{position:relative;width:200px;height:114px;z-index:2}
.ipt-file p{position:absolute;left:50%;top:50%;font-size:14px;color:#a7a7a7;transform:translate(-50%,-50%);-webkit-transform:-webkit-translate(-50%,-50%);-moz-transform:-moz-translate(-50%,-50%);}
.ipt-file p i{display:block;margin:0 auto;width:24px;font-size:24px;margin-bottom:6px}
.ipt-file .file-upload{position:absolute;left:0;top:0;height:100%;width:100%;z-index:5;background-color:#fff;opacity:0}
/* ipt-radio-custom ipt-checkbox-custom */
.ipt-radio-custom label, .ipt-checkbox-custom label{display:inline-block;padding-left:28px;position:relative;line-height:24px}
.ipt-radio-custom label input, .ipt-checkbox-custom label input{position:absolute;left:0;background:none;border:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;outline:none}
.ipt-radio-custom label input:before, .ipt-checkbox-custom label input:before{display:block;content:'';color:#fff;width:22px;height:22px;line-height:20px;text-align:center;font-size:14px;border:1px solid #c7c7c7;border-radius:100%;background-color:#fff;box-sizing:border-box}
.ipt-checkbox-custom label input:before{border-radius:3px}
.ipt-radio-custom label input:checked:before, .ipt-checkbox-custom label input:checked:before{font-family:'iconfont';content:'\e616';background-color:#2196D2;border-color:#2196D2}
.ipt-radio-custom label input:disabled:before, .ipt-checkbox-custom label input:disabled:before{opacity:.5}


/* UI Form
*****************************************/

.ui-form li{position:relative;padding:0 60px 0 110px;min-height:38px;margin-bottom:18px;color:#575757}
.ui-form li strong{position:absolute;left:0;top:0;line-height:38px;width:90px;text-align:right;font-weight:400}
.ui-form li strong.long{width:110px;margin-left:-20px}
.ui-form li strong em{color:#D0021B;margin-right:6px}
.ui-form li.ui-form-auto{padding-right:0}
.ui-form li .ui-form-fun{position:absolute;right:-45px;top:0;width:90px;line-height:38px}
div.ui-form-fun.btnscan a{padding: 10px;background: #FFF4E8;}


/* UI Form Login
*****************************************/
.ui-form-login .ui-form-row{position:relative;padding-left:58px;height:44px;line-height:42px;margin-bottom:18px;border:1px solid #dadada;border-radius:5px}
.ui-form-login .ui-form-row label{position:absolute;left:0;top:0;width:58px;text-align:center;font-size:24px;color:#a7a7a7}
.ui-form-login .ui-form-row input{width:100%;height:42px;font-size:16px}
.ui-form-login .ui-form-row.error{border-color:#f30}
.ui-form-login .ui-form-row.error label{color:#f30}
.ui-form-login .ui-form-row.error input{color:#f30}


/* Header
*****************************************/
.header {position: fixed;top: 0;left: 0;width: 100%;height:44px;line-height:44px;color:#fff;overflow:hidden}
.header .logo{position:absolute;left:44px;top:0}
.header .logo img{display:inline-block;width:70px;margin-right:12px;vertical-align:middle}
.header .hello-user{position: absolute;top:0; right: 120px}
.header .hello-user i {margin-right: 6px;}
.header .btn-menu{position: absolute; right: 34px;top: 0;height: 44px;line-height: 44px;color: #FFFFFF;padding: 0 10px;}
.header .btn-menu i{margin-right: 5px;}


/* Sidebar
*****************************************/
.recruit-sidebar {position: absolute;left:0; top:50%;width: 26px;height: 328px;box-shadow: 0 2px 15px 0 rgba(157,157,157,0.27);border-radius: 0 10px 10px 0;background-color: #FFFFFF;transform: translate(0,-50%);}
.recruit-sidebar button {width: 100%;height: 90px;opacity: 0; overflow: hidden;}
.addWidth {width: 106px;}
.addWidth button {opacity: 1;}
.recruit-sidebar button.active {color: #E87722;}
.recruit-sidebar button.active i {color: #E87722;}
.recruit-sidebar button i {display: block;margin-bottom: 5px;font-size: 28px;color: #C7C7C7;}
.recruit-sidebar button:last-child {position: relative;height: 58px;}
.recruit-sidebar button:last-child i {position: absolute;left: 38px;top: 10px;font-size: 20px;}
.recruit-sidebar button:last-child i:last-child {left: 48px;color: #E3E3E3;}
.recruit-sidebar div.open {position: absolute;z-index:2;right: 5px;top: 50%;height: 58px;width: 100%;font-size: 20px;transform: translate(0,-50%);}
.recruit-sidebar div.open i {position: absolute;display: inline-block;right: 2px;top: 10px;font-size: 20px;color: #E3E3E3;transform: rotate(180deg);}
.recruit-sidebar div.open i:last-child {right: -5px;color: #A5A5A5;}

.recruit-clientInfo {margin-left: 24px;background-color:#fff;height:100%;border-radius:10px;overflow-x: hidden;overflow-y: scroll;-webkit-overflow-scrolling: touch;}
.recruit-clientInfo::-webkit-scrollbar{display:none;}
.shrink {margin-left: 104px!important;}


/* Tips System
*****************************************/
.tip-system{position:absolute;left:0;top:0;width:100%;height:30px;line-height:30px;padding:0 25px;font-size:14px;color:#8F4F23;background-color:rgba(255,255,255,.95);z-index:1000;}
.tip-system p i{margin-right:8px}
.tip-system .btn-close{position:absolute;right:10px;top:0;height:30px;width:30px}
.tip-system .btn-close i{font-size:12px}

/* Tip Short
*****************************************/
.tip-short{position:fixed;left:50%;bottom:50px;min-width:100px;height:30px;line-height:30px;padding:0 20px;text-align:center;font-size:14px;color:#fff;border-radius:15px;background-color:#6c6c6c;z-index:1003;opacity:0;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%)}

/* UI Table
*****************************************/
.ui-table{display:table;width:100%;box-sizing:border-box;border-top:1px solid #ededed}
.ui-table .ui-tabrow{display:table-row;height: 52px;position: relative;}
.ui-table .ui-tabcell{display:table-cell;padding:10px 5px;text-align: center;line-height:20px;color:#575757;font-size:16px;border-bottom:1px solid #ededed;vertical-align:middle;box-sizing:border-box}
.ui-table .ui-table-head{background-image: linear-gradient(0deg, #F5F5F5 0%, #F7F7F7 98%);height: 44px}
.ui-table .ui-table-head .ui-tabcell{height:36px;padding:0 5px;color:#8a8a8a;font-size:15px;text-align: center}
.ui-table .ui-tabrow:not(.ui-table-head):nth-child(odd){background-color:#fafafa}


/* UI List Graphic
*****************************************/
.ui-list-graphic li{padding:20px 0;border-top:1px dashed #d6d6d6}
.ui-list-graphic li:first-child{border-top:none}
.ui-list-graphic li:after{clear:both;display:block;height:0;content:''}
.ui-list-graphic img{float:left;clear:left;margin-right:30px}
.ui-list-graphic strong{display:block;font-size:18px;line-height:24px;font-weight:400;margin-bottom:10px}
.ui-list-graphic p{font-size:14px;line-height:24px;color:#575757}

/* UI List Goods
*****************************************/
.ui-list-goods{padding:10px 0;zoom:1;margin:0 -10px}
.ui-list-goods:after{clear:both;content:'';display:block}
.ui-list-goods li{float:left;padding:5px;border:1px solid #e5e5e5;margin:10px}
.ui-list-goods a{display:block}
.ui-list-goods img{width:236px;height:106px;margin-bottom:5px}
.ui-list-goods strong{display:block;line-height:24px;font-weight:400;margin:0 10px}
.ui-list-goods p{font-size:14px;line-height:24px;color:#9b9b9b;margin:0 10px}

/* UI List Detail
*****************************************/
.ui-list-detail li{padding:12px 0 12px 30px;border-top:1px solid #ededed}
.ui-list-detail li:first-child{border-top:none}
.ui-list-detail .topic{position:relative;margin-bottom:6px;line-height:24px}
.ui-list-detail .topic:before{position:absolute;content:'';left:-25px;top:6px;width:6px;height:6px;border:3px solid #ccc;border-radius:100%;background-color:#fff}
.ui-list-detail .topic strong{display:inline-block;font-weight:400;font-size:18px;margin-right:20px;vertical-align:middle}
.ui-list-detail .topic em{font-size:14px;display:inline-block;margin-left:50px}
.ui-list-detail .topic span{float:right;font-size:14px}
.ui-list-detail p{background-color:#fafafa;border:1px solid #efefef;font-size:14px;line-height:20px;padding:3px 8px;border-radius:3px}

/* Popup
*****************************************/
.popup-bg{position:fixed;top:0;left:0;z-index:999;display:none;width:100%;height:100%;background-color:rgba(0,0,0,.5);}
.popup-box{position:fixed;top:50%;left:50%;z-index:1000;display:none;min-width:300px;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);transform:translate(-50%,-50%);border-radius:10px;background-color:#fff}
.popup-header{height:65px;border-bottom:1px solid #d5d5d5;background-color:#f5f5f5;border-radius:10px 10px 0 0}
.popup-header h2{font-weight:400;line-height:64px;float:left;font-size:18px;margin-left:30px;color:#575757}
.popup-header .popup-close{position:absolute;right:10px;top:-40px;color:#fff;font-size:30px;height:30px;width:30px;line-height:30px}
.popup-content{padding:20px; max-height: 450px;overflow-y: auto;}
.popup-content .button{text-align:center}
.popup-content .button button{display:inline-block;width:200px;margin:0 20px}


/* Popup New Edition  版本升级提示
*****************************************/
.popup-new-edition{width:590px}
.popup-new-edition .popup-content{padding:40px;text-align:center}
.popup-new-edition .popup-content p{margin-bottom:40px;line-height:24px}

/* Popup Confirm  确认+取消提示框
*****************************************/
.popup-confirm{width:400px;z-index:1010}
.popup-confirm .text{padding:20px;text-align:center}
.popup-confirm .button{padding:10px 0}
.popup-confirm .button .btn{width:140px;margin:0 10px}



/* DropLoad
*****************************************/
.dropload-down,.dropload-up{position:relative;overflow:hidden;height:0;-webkit-transform:translateZ(0);transform:translateZ(0);}
.dropload-down{height:48px;}
.dropload-load,.dropload-noData,.dropload-refresh,.dropload-update{height:48px;text-align:center;line-height:48px;font-size:14px}
.dropload-noData{color:#999;}
.dropload-load .loading{display:inline-block;margin:10px;width:16px;height:16px;border:2px solid #666;border-radius:100%;vertical-align:middle;border-bottom-color:transparent;-webkit-animation:rotate .75s linear infinite;animation:rotate .75s linear infinite;}
@-webkit-keyframes rotate{
  0%{-webkit-transform:rotate(0);}
 50%{-webkit-transform:rotate(180deg);}
100%{-webkit-transform:rotate(360deg);}
}
@keyframes rotate{
  0%{transform:rotate(0);}
 50%{transform:rotate(180deg);}
100%{transform:rotate(360deg);}
}

/* Datapicker
*****************************************/
.gearDate{position:fixed;top:0;left:0;z-index:9900;display:block;overflow:hidden;width:100%;height:100%;background-color:rgba(0,0,0,.2);font-size:10px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.date_ctrl{position:absolute;bottom:0;left:0;z-index:9901;overflow:hidden;margin:0;width:100%;height:auto;background-color:#d5d8df;color:#000;vertical-align:middle;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.slideInUp{-webkit-animation:slideInUp .3s;animation:slideInUp .3s;}
@-webkit-keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}
to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
@keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}
to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
.date_roll,.datetime_roll,.time_roll,.ym_roll{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;overflow:hidden;width:100%;height:auto;background-color:transparent;-webkit-mask:-webkit-gradient(linear,0 50%,0 100%,from(#debb47),to(rgba(36,142,36,0)));-webkit-mask:-webkit-linear-gradient(top,#debb47 50%,rgba(36,142,36,0));}
.date_roll>div,.datetime_roll>div,.time_roll>div,.ym_roll>div{position:relative;float:left;overflow:hidden;height:10em;background-color:transparent;font-size:2.3em;-webkit-box-flex:4;-webkit-flex:4;-ms-flex:4;flex:4;}
.date_roll>div .gear,.datetime_roll>div .gear,.time_roll>div .gear,.ym_roll>div .gear{position:absolute;z-index:9902;float:left;margin-top:-4em;width:100%;}
.date_roll_mask{padding:0;-webkit-mask:-webkit-gradient(linear,0 40%,0 0,from(#debb47),to(rgba(36,142,36,0)));-webkit-mask:-webkit-linear-gradient(bottom,#debb47 50%,rgba(36,142,36,0));}
.date_roll>div:nth-child(2){-webkit-box-flex:2;-webkit-flex:2;-ms-flex:2;flex:2;}
.date_roll>div:nth-child(1),.datetime_roll>div:nth-child(1){-webkit-box-flex:4;-webkit-flex:4;-ms-flex:4;flex:4;}
.datetime_roll>div:first-child{-webkit-box-flex:6;-webkit-flex:6;-ms-flex:6;flex:6;}
.datetime_roll>div:last-child{-webkit-box-flex:6;-webkit-flex:6;-ms-flex:6;flex:6;}
.date_grid{position:relative;top:4em;z-index:0;box-sizing:border-box;margin:0;width:100%;height:2em;border-top:1px solid #abaeb5;border-bottom:1px solid #abaeb5;}
.date_grid>div{position:absolute;top:0;right:0;color:#000;font-size:.8em;line-height:2.5em;}
.date_roll>div:nth-child(3) .date_grid>div{left:42%;}
.datetime_roll>div .date_grid>div{right:0;}
.datetime_roll>div:first-child .date_grid>div{right:0;left:auto;}
.datetime_roll>div:last-child .date_grid>div{left:50%;}
.time_roll>div:nth-child(1) .date_grid>div{right:1em;}
.ym_roll>div:nth-child(1) .date_grid>div{right:.1em;}
.time_roll>div .date_grid>div,.ym_roll>div .date_grid>div{right:5em;}
.date_btn{padding:.8em 1em;color:#0575f2;text-align:center;font-size:1.6em;line-height:1em;}
.date_btn_box:after,.date_btn_box:before{position:absolute;z-index:15;display:block;width:100%;height:1px;background-color:#96979b;content:'';-webkit-transform:scaleY(.33);transform:scaleY(.33);}
.date_btn_box{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;background-color:#f1f2f4;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch;}
.date_btn_box:before{top:0;left:0;-webkit-transform-origin:50% 20%;transform-origin:50% 20%;}
.date_btn_box:after{bottom:0;left:0;-webkit-transform-origin:50% 70%;transform-origin:50% 70%;}
.date_roll>div:nth-child(1) .gear{text-indent:20%;}
.date_roll>div:nth-child(2) .gear{text-indent:-20%;}
.date_roll>div:nth-child(3) .gear{text-indent:-55%;}
.datetime_roll>div .gear{width:100%;text-indent:-25%;}
.datetime_roll>div:first-child .gear{text-indent:-10%;}
.datetime_roll>div:last-child .gear{text-indent:-50%;}
.time_roll>div .gear,.ym_roll>div .gear{width:100%;text-indent:-70%;}
.time_roll>div:nth-child(1) .gear,.ym_roll>div:nth-child(1) .gear{width:100%;text-indent:10%;}
.tooth{height:2em;text-align:center;line-height:2em;}

.system-loading{position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,.4);z-index:999999}
.system-loading p{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);transform:translate(-50%, -50%);width:204px;height:204px;background:url(../images/loading.gif) no-repeat left top}