<div class="content content_bg">
    <div class="main clearfix">
        <h2>招募代理制保险营业员重要事项告知书</h2>
        <p>为确保本公司代理制保险营业员招募行为规范、透明，确保应募者的知情权，本公司向您告知如下重要事项：</p>
        <ul>
            <li>一、根据中国保监会规定，保险公司需对从业人员进行甄选，加强专业培训，因此代理制保险营销员必须参加本公司的专项培训并通过培训考试。</li>
            <li>二、本公司与完成培训并通过考试的人员签订个人保险代理合同（非劳动合同）并颁发执业证书，合同当事人一方为本公司，另一方为代理制保险营业员。代理制保险营业员须亮证（执业证书）营销。</li>
            <li>三、代理制保险营业员的薪酬与业绩直接挂钩，其收入形式通常为佣金（非工资）。</li>
            <li>请认真阅读上述告知内容并作亲笔签名</li>
        </ul>
        <div class="name fr">
            <p>友邦保险</p>
            <p>申请人（准新人）签名</p>
            <p></p>
            <p>提交日期</p>
        </div>
    </div>
</div>

<!--底部按钮-->
<div class="bot-button">
    <div class="buttonGroup">
        <button type="button" class="savePersonalInfo">保存</button>
        <button type="button" class="goNext">下一步</button>
    </div>
</div>
