<div class="content_family">
    <div class="header clearfix">
        <div class="wrap fr">
            <ul class="text clearfix">
                <li>
                    <i class="icon-wenjianfile65"></i>
                    <span>材料复核</span>
                </li>
                <li>
                    <i class="icon-wenhao"></i>
                    <span>甄选问卷</span>
                </li>
                <li>
                    <i class="icon-tianjiawenjian"></i>
                    <span>声明与告知</span>
                </li>
                <li>
                    <i class="icon-wenben"></i>
                    <span>提交预览</span>
                </li>
            </ul>
            <div class="rang">
                <div class="rang-son">

                </div>
            </div>
        </div>
    </div>
    <div class="content_body clearfix">
        <i>家庭成员1</i>
        <ul class="ui-form grid-row">
            <li class="col-md-6">
                <strong>
                    <span class="mustWrite">*</span>
                    <span>关系</span>
                </strong>
                <div class="ipt-select">
                    <i class="icon-arrow-full-down"></i>
                    <input type="text" class="ipt-text" placeholder="请选择处理方式" readonly>
                    <select name="relationship">
                        <option disabled selected value="">请选择政治面貌</option>
                        <option value="党员">党员</option>
                        <option value="团员">团员</option>
                    </select>
                </div>
            </li>
            <li class="col-md-6">
                <strong>
                    <span class="mustWrite">*</span>
                    <span>姓名</span>
                </strong>
                <div class="ipt-text">
                    <input type="text" class="ipt-text check-vali" name="name" value="">
                </div>
            </li>
            <li class="col-md-6">
                <strong>
                    <span class="mustWrite">*</span>
                    <span>联系电话</span>
                </strong>
                <div class="ipt-text">
                    <input type="text" class="ipt-text check-vali" name="telephone" value="">
                </div>
            </li>
            <li class="col-md-6">
                <strong>
                    <span class="mustWrite">*</span>
                    <span>公司名称</span>
                </strong>
                <div class="ipt-text">
                    <input type="text" class="ipt-text check-vali" name="company" value="">
                </div>
            </li>
            <li class="col-md-6">
                <strong>
                    <span class="mustWrite">*</span>
                    <span>职业</span>
                </strong>
                <div class="ipt-select">
                    <i class="icon-arrow-full-down"></i>
                    <input type="text" class="ipt-text" placeholder="请选择处理方式" readonly>
                    <select name="post">
                        <option disabled selected value="">请选择政治面貌</option>
                        <option value="党员">党员</option>
                        <option value="团员">团员</option>
                    </select>
                </div>
            </li>
        </ul>
    </div>
    <div class="add">
        <i>+</i>其他家庭成员
    </div>
</div>

<!--底部按钮-->
<div class="bot-button">
    <div class="buttonGroup">
        <button type="button" class="savePersonalInfo">保存</button>
        <button type="button" class="goNext">下一步</button>
    </div>
</div>