<div class="materials-wrapper">
    <div class="materials-header">
        <div class="mater-top-flag">
            <ul class="mater-flag">
                <li class="already" data-type="reMaterials"><i class="iconfont icon-wenjianfile65"></i>材料复核</li>
                <li class="already" data-type="video"><i class="iconfont icon-tianjiawenjian"></i>证件资料</li>
                <li class="already" data-type="personBackground"><i class="iconfont icon-wenhao"></i>初审试卷</li>
                <li class="active" data-type="application"><i class="iconfont icon-wenjiangongxiangicon"></i>计划申请</li>
            </ul>
        </div>
    </div>
    <!--计划申请-->
    <div class="plan-apply app-getApply">
        
    </div>
</div>