<!--头部背景区-->
<div class="bg-top">
    <!-- tab导航区 -->
    <div class="materials-header">
        <div class="mater-top-flag">
            <ul class="mater-flag">
                <li class="already" data-type="basicInfo"><i class="iconfont icon-wenjianfile65"></i>基础信息</li>
                <li class="already" data-type="personBackground"><i class="iconfont icon-wenhao"></i>{{=it.progress == 3 ? '甄选问卷' : '决定问卷'}}</li>
                <li class="active" data-type="declaration"><i class="iconfont icon-tianjiawenjian"></i>声明与告知</li>
                <li class="future" data-type="pickInterview"><i class="iconfont icon-wenjiangongxiangicon"></i>提交预览</li>
            </ul>
        </div>
    </div>
</div>
<div class="content content_bg">
    <div class="main clearfix">
        <h2>招募代理制保险营业员重要事项告知书</h2>
        <p>为确保本公司代理制保险营业员招募行为规范、透明，确保应募者的知情权，本公司向您告知如下重要事项：</p>
        <ul>
            <li>一、根据中国保监会规定，保险公司需对从业人员进行甄选，加强专业培训，因此代理制保险营销员必须参加本公司的专项培训并通过培训考试。</li>
            <li>二、本公司与完成培训并通过考试的人员签订个人保险代理合同（非劳动合同）并颁发执业证书，合同当事人一方为本公司，另一方为代理制保险营业员。代理制保险营业员须亮证（执业证书）营销。</li>
            <li>三、代理制保险营业员的薪酬与业绩直接挂钩，其收入形式通常为佣金（非工资）。</li>
            <li>请认真阅读上述告知内容并作亲笔签名</li>
        </ul>
        <div class="name fr">
            <p>富卫保险</p>
            <p>申请人（准新人）签名</p>
            <p id="pen-sign">
            	<img src="" alt="" />
            </p>
            <p>提交日期:<span  id="submitTime"></span></p>
        </div>
    </div>
</div>

<!--底部按钮-->
<!--<div class="bot-button">-->
    <!--<div class="buttonGroup">-->
        <!--<button type="button" class="savePersonalInfo">保存</button>-->
        <!--<button type="button" class="goNext">下一步</button>-->
    <!--</div>-->
<!--</div>-->
