{{~it:val:index}}
<ul class="grid-row need-padding">
  <li class="col-md-3"><strong>关系</strong><p>{{=val.relationship || ''}}</p></li>
  <!--<li class="col-md-6"><strong>代理人代码</strong><p>{{=val.agentCode || ''}}</p></li>-->
  <li class="col-md-3"><strong>电话</strong><p>{{=val.telephone || ''}}</p></li>
  <li class="col-md-3"><strong>姓名</strong><p>{{=val.name || ''}}</p></li>
  <li class="col-md-3"><strong>职业</strong><p>{{=val.post || ''}}</p></li>
  <li class="col-md-3"><strong>公司</strong><p>{{=val.company || ''}}</p></li>
</ul>
{{~}}