{{~it:val:index}}
<ul class="grid-row need-padding">
  <li class="col-md-3"><strong>开始时间</strong><p>{{=val.startTime?common.getFormatDate(new Date(val.startTime)):'12'}}</p></li>
  <li class="col-md-3"><strong>结束时间</strong><p>{{=val.endTime?common.getFormatDate(new Date(val.endTime)):'13'}}</p></li>
  <li class="col-md-3"><strong>工作年限</strong><p>{{=val.endTime && val.endTime ? (Math.floor((new Date(val.endTime).getTime() -new Date(val.startTime).getTime()) / (24 * 3600 * 1000) / 365) + '年') : ''}}</p></li>
  <li class="col-md-3"><strong>行业</strong><p>{{=val.occupation || ''}}</p></li>
  <li class="col-md-3"><strong>职位</strong><p>{{=val.post || ''}}</p></li>
  <li class="col-md-3"><strong>公司</strong><p>{{=val.company || ''}}</p></li>
  <li class="col-md-3"><strong>年收入</strong><p>{{=val.annualIncome ? (val.annualIncome + '万元') : ''}}</p></li>
</ul>
{{~}}