<div class="materials-wrapper">
    <div class="materials-header">
        <div class="mater-top-flag">
            <ul class="mater-flag">
                <li class="active" data-type="reMaterials"><i class="iconfont icon-wenjianfile65"></i>材料复核</li>
                <li class="future" data-type="video"><i class="iconfont icon-tianjiawenjian"></i>证件资料</li>
                <li class="future" data-type="personBackground"><i class="iconfont icon-wenhao"></i>初审试卷</li>
                <li class="future" data-type="application"><i class="iconfont icon-wenjiangongxiangicon"></i>计划申请</li>
            </ul>
        </div>
    </div>
    <div class="materials-content">
        <div class="mater-breviary">
            <div class="personal-info">
                <div class="mater-logo">
                    <img src="../../images/info.png" alt="">
                </div>
                <div class="mater-title">个人信息</div>
                <div class="mater-status-select">
                    <div class="mater-status">
                        <i class="icon-gouxuan"></i>
                    </div>
                    <div class="mater-select">
                        <i class="icon-xiajiantou"></i>
                    </div>
                </div>
            </div>
            <div class="mater-detail hidden single-info">

            </div>
        </div>
        <div class="mater-breviary">
            <div class="personal-info">
                <div class="mater-logo">
                    <img src="../../images/info.png" alt="">
                </div>
                <div class="mater-title">家庭信息</div>
                <div class="mater-status-select">
                    <div class="mater-status">
                        <i class="icon-gouxuan"></i>
                    </div>
                    <div class="mater-select">
                        <i class="icon-xiajiantou"></i>
                    </div>
                </div>
            </div>
            <div class="mater-detail hidden familyMember">

            </div>
        </div>
        <div class="mater-breviary">
            <div class="personal-info">
                <div class="mater-logo">
                    <img src="../../images/info.png" alt="">
                </div>
                <div class="mater-title">教育经历</div>
                <div class="mater-status-select">
                    <div class="mater-status">
                        <i class="icon-gouxuan"></i>
                    </div>
                    <div class="mater-select">
                        <i class="icon-xiajiantou"></i>
                    </div>
                </div>
            </div>
            <div class="mater-detail hidden getEducational">

            </div>
        </div>
        <!--工作经历-->
        <div class="mater-breviary">
            <div class="personal-info">
                <div class="mater-logo">
                    <img src="../../images/info.png" alt="">
                </div>
                <div class="mater-title">工作经历</div>
                <div class="mater-status-select">
                    <div class="mater-status">
                        <i class="icon-gouxuan"></i>
                    </div>
                    <div class="mater-select">
                        <i class="icon-xiajiantou"></i>
                    </div>
                </div>
            </div>
            <div class="mater-detail hidden workExperience">

            </div>
        </div>
        <!---->

        <!--工作经历结束-->
        <div class="mater-breviary">
            <div class="personal-info">
                <div class="mater-logo">
                    <img src="../../images/info.png" alt="">
                </div>
                <div class="mater-title">计划申请</div>
                <div class="mater-status-select">
                    <div class="mater-status">
                        <i class="icon-gouxuan"></i>
                    </div>
                    <div class="mater-select">
                        <i class="icon-xiajiantou"></i>
                    </div>
                </div>
            </div>
            <div class="mater-detail hidden getApply">

            </div>
        </div>
    </div>
</div>

<!--底部按钮-->
<!--<div class="bot-button">-->
    <!--<div class="buttonGroup">-->
        <!--<button type="button" class="saveReMaterials">保存</button>-->
        <!--<button type="button" class="goNext reMaterialsGoNext">下一步</button>-->
    <!--</div>-->
<!--</div>-->