{{?it}}
<ul class="grid-row need-padding">
    <li class="col-md-3"><strong>证件类型</strong><p>{{=it.identityType=='111'?'身份证':it.identityType=='414'?'护照':it.identityType=='117'?'出生证':it.identityType=='114'?'军人证':it.identityType=='511'?'台胞证':it.identityType=='516'?'港澳回乡证':''}}</p></li>
    <li class="col-md-6"><strong>证件号码</strong><p>{{=it.identityCode}}</p></li>
    <li class="col-md-3"><strong>证件有效期至</strong><p>{{=it.ctfexpireDate}}</p></li>
    <li class="col-md-3"><strong>姓名</strong><p>{{=it.name}}</p></li>
    <li class="col-md-3"><strong>性别</strong><p>{{=it.sex=='M'?'男':it.sex=='F'?'女':''}}</p></li>
    <li class="col-md-3"><strong>年龄</strong><p>{{=common.getAge(it.birthday)}}</p></li>
    <li class="col-md-3"><strong>民族</strong><p>{{=it.nation}}</p></li>
    <li class="col-md-3"><strong>政治面貌</strong><p>{{=it.political || ''}}</p></li>
    <li class="col-md-3"><strong>新人来源</strong><p>{{=it.source || ''}}</p></li>
    <li class="col-md-3"><strong>来源渠道</strong><p>{{=it.channel || ''}}</p></li>
</ul>
{{?}}