<!--头部背景区-->
<div class="bg-top">
    <!-- tab导航区 -->
    <div class="materials-header">
        <div class="mater-top-flag">
            <ul class="mater-flag">
                <li class="already" data-type="reMaterials"><i class="iconfont icon-wenjianfile65"></i>材料复核</li>
                <li class="active" data-type="video"><i class="iconfont icon-tianjiawenjian"></i>证件资料</li>
                <li class="future" data-type="personBackground"><i class="iconfont icon-wenhao"></i>初审试卷</li>
                <li class="future" data-type="application"><i class="iconfont icon-wenjiangongxiangicon"></i>计划申请</li>
            </ul>
        </div>
    </div>
</div>
<div class="Im_box">
       <div class="Im_center">
        <div class="Im_cTop">
            <div class="b-paper">证件照</div>
            <div class="box-papers">
                <div class="viewImage">
                	<div class="faceImage">
	                    <img src="" alt="">
	                    <span>证件正面</span>
	                    <input type="hidden" name="leftImg" value="">
	                    <input type="hidden" name="pId" value="">
                    </div>
                </div>
                 <div class="viewImage">
                 	<div class="backImage">
	                    <img src="" alt="">
	                    <span>证件反面</span>
	                    <input type="hidden" name="rightImg" value="">
	                    <input type="hidden" name="oId" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="Im_cCenter">
            <div class="viewImage">
                <div>学历证明</div>
                <div class="eduProve">
                    <img src="" alt="">
                    <input type="hidden" name="pId" value="">
                </div>
            </div>
            <div class="viewImage">
                <div>学信网验证页面</div>
                <div class="verify">
                    <img src="" alt="">
                    <input type="hidden" name="oId" value="">
                </div>
            </div>
        </div>
        <div class="Im_cFooter">
            <div class="viewImage">
                <div>外籍人员就业证明</div>
                <div class="prove">
                    <img src="" alt="">
                    <input type="hidden" name="pId" value="">
                </div>
            </div>
        </div>
    </div>
    <ul class="line">
        <li></li>
    </ul>
</div>

<!--底部按钮-->
<!--<div class="bot-button video-bot">-->
<!--<div class="buttonGroup">-->
<!--<button type="button" class="saveVideo"></button>-->
<!--<button type="button" class="goNext videoGoNext">下一步</button>-->
<!--</div>-->
<!--</div>-->