.new-course {
    width: 100%;
    background-color: #EEEEEE;
    padding: 0 16px 20px;
}
.paper-name {
    width: 472px;
}
.fixed-top {
    margin-top: 9px;
}
.integral {
    font-size: 12px;
    color: #8F8F8F;
    margin-left: 8px;
}