body{
  font-family: MicrosoftYaHei;
}
.back{
  min-height: 100%;
  /*height: 768px;*/
  background: rgba(0,0,0,0.50);
  /*position: relative;*/
  padding: 100px;
}
.back .content{
  height: 100%;
  background: #FFFFFF;
  border-radius: 5px;
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%,-50%);*/
}
.back .head{
  border-bottom:1px solid #E4E4E4;
  height: 50px;
  line-height: 50px;
  text-indent: 31px;
}
.back .head span{
  font-size: 16px;
  color: #333333;
  line-height: 16px;
}
.back .head i{
  margin-right: 30px;
  float: right;
}
.back .content .main{
  padding: 15px 30px 34px 31px;
  /*line-height: 40px;*/
}
.back .content .main span.name{
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #575756;
  padding-right: 12px;
  width: 12%;
  text-align: right;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
}
.back .content .main span.name i{
  color: rgb(208, 2, 27);
}
.back .content .main .input_right{
  margin-bottom: 31px;
}

.back .content .main .input_right p{
  font-size: 12px;
  color: #9B9B9B;
  line-height: 24px;
  height: 24px;
}
.back .content .main .input{
  width: 80%;
  display: inline-block;
}
.back .content .main .input textarea{
  background: #FAFAFA;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  height: 60px;
  width: 100%;
}
.back .content .main .input .first{
  border: 1px solid #E4E4E4;
  height: 38px;
  line-height: 38px;
  margin-right:21px;
  font-size: 14px;
  color: #4A4A4A;
  width: 27%;
  margin-bottom: 0;
}
.back .content .main .input .second{
  background: #F5F5F5;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #575756;
  width: 20%;
  margin-bottom: 0;
}

.back .content .main .share_radios{
  width: 88%;
  display: inline-block;
  background: #F8F8F8;
  border-radius: 5px;
  height: 98px;
  
}
.back .content .main .input input{
  margin-right: 18.5px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  width: 37%;
  height: 38px;
  text-align: center;
  margin-bottom: 31px;
}
.back .content .main .share_radios .radios{
  border-radius: 5px;
  width: 20%;
  height: 19px;
  line-height: 19px;
  text-align: center;
  float: left;
  margin-top: 20px;
  /*margin-bottom: 25px;*/
  
}

.back .content .main .button{
  width: 300px;
  height: 42px;
  box-sizing: border-box;
  margin: 0 auto;
}
.back .content .main .button button{
  width: 120px;
  height: 40px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  background: #E87722;;
}
.back .content .main .button button:first-child{
  margin-right: 50px;
  color: #E87722;
  background: #fff;
}
.input .ipt-select{
  width: 37%;
  margin-bottom: 31px;
}
.back .content .main .topic_answer{
  background: #FAFAFA;
  border-radius: 5px;
  padding: 0px 20px 21px;
  margin-bottom: 27px;
}
.back .content .main .topic_answer .tips{
  font-size: 12px;
  color: #9B9B9B;
}
.back .content .main .topic_answer .add_option{
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  width: 82px;
  height: 26px;
  line-height: 23px;
}
.back .content .main .topic_answer .add_option i{
  color: #06B08E;
  border-radius: 4.67px;
  font-size: 10px;
  /*margin-right: 5px;*/
}
.input-radio-right i{
  display: inline-block;
  vertical-align: middle;
}
.answer_option .input-radio{
  width: auto;
}
.back .content .main .topic_answer .add_option span{
  font-size: 12px;
  color: #06B08E;
}
.back .content .main .topic_answer .answer_option{
  margin-bottom: 8px;
  background: #FFFFFF;
  box-shadow: 0 2px 11px 0 rgba(183,183,183,0.50);
  border-radius: 5px;
  height: 44px;
  line-height: 44px;
  padding: 0 20.3px 0 14px;
}
.back .content .main .topic_answer .answer{
  height: 50px;
  line-height: 50px;
}