.layer-header {
    display: flex;
    width: 100%;
    height: 46px;
    line-height: 46px;
    background-color: #424242;
    color: #DADADA;
    font-size: 12px;
}
.layer-header .layer-tab {
    flex: 1;    
}
.layer-header .layer-tab li {
    float: left;
    width: 152px;
    text-align: center;
    font-size: 14px;
    color: #BCBCBC;
}
.layer-header .layer-tab .item-active {
    background-color: #333333;
    color: #FFFFFF;
}
.layer-header .all-service {
    width: 152px;
    height: 100%;
    background: rgba(245,245,245,0.1);
    text-align: center;
}
.layer-header .all-service span {
    display: inline-block;
    color: #DADADA;
    font-size: 12px;
    vertical-align: middle;
}
.layer-header .all-service span:first-child {
    font-size: 20px;
    margin-right: 10px;
}