.input p{
  line-height: 16px;
  height: 16px;
  font-size: 12px;
  color: #9B9B9B;
}
.ipt-select-content{
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 12px;
  color: #8F8F8F;
  vertical-align: middle;
}
.ipt-select-content span:first-child{
  margin-right: 10px;
  font-size: 14px;
  color: #333333;
}
.close_father .close {
  position: absolute;
  right: -7px;
  top: -7px;
  color: red;
  border-radius: 50%;
  font-size: 14px;
}
.start{
  /*position: relative;*/
  /*overflow: hidden;*/
}


.start:before{
position: absolute;
left: 0;
top: 0;
width: 0px;
height: 0px;
content: '';
border-top: 25px solid #E87722;
border-right: 25px solid transparent;
  /*background-color: #E87722;*/
/*transform: rotate(135deg) translate(22px, 0);*/
/*-webkit-transform: rotate(135deg) translate(22px, 0);*/
/*-moz-transform: rotate(135deg) translate(22px, 0);*/
z-index: 1;
}
.start:after{
  position: absolute;
  content: '\e62d';
  font-size: 11px;
  font-family: 'iconfont';
  color: #fff;
  line-height: 11px;
  z-index: 2;
  left: 1px;
  top: 3px;
  /*width: 0px;*/
  /*height: 0px;*/
}
.coleee_start:before{
position: absolute;
left: 0;
top: 0;
width: 0px;
height: 0px;
content: '';
border-top: 25px solid #eee;
border-right: 25px solid transparent;
  /*background-color: #E87722;*/
/*transform: rotate(135deg) translate(22px, 0);*/
/*-webkit-transform: rotate(135deg) translate(22px, 0);*/
/*-moz-transform: rotate(135deg) translate(22px, 0);*/
z-index: 1;
}
.coleee_start:after{
  position: absolute;
  content: '\e62d';
  font-size: 11px;
  font-family: 'iconfont';
  color: #fff;
  line-height: 11px;
  z-index: 2;
  left: 1px;
  top: 3px;
  /*width: 0px;*/
  /*height: 0px;*/
}
.close_fathers span {
  position: absolute;
  right: -7px;
  top: -7px;
  color: red;
  border-radius: 50%;
  font-size: 14px;
}