<div class="target-wraper">
    <div class="bg-top"></div>
    <div class="target-content">
        <p class="target-set"><i class="icon-back"></i>&nbsp;增员目标设置</p>
        <div class="target-time">
            <i class="icon-back sub"></i><span class="show-year" data-year="{{=it[0].targetYear}}">{{=it[0].targetYear}}年</span><i class="icon-iconfontjiantou2 plus"></i>
        </div>
        <ul class="target-month">
            {{~it:value:index}}
            <li data-month="{{=index + 1}}" data-id="{{=value.id}}">
                <p class="each-month">
                    <strong>{{=index + 1}}月</strong><i class="icon-44 set-target"></i>
                </p>
                <p class="each-preson">计划增员<span>{{=value.targetValue}}</span>人</p>
            </li>
            {{~}}
        </ul>
    </div>
</div>

<div class="popup-box edit-target">
    <div class="popup-header">
        <h2>请设置<span></span>月份目标</h2>
        <button type="button" class="popup-close"><i class="icon-close-empty"></i></button>
    </div>
    <div class="popup-content">
        <input type="text" class="month-target">
    </div>

    <div class="target-btn-group">
        <button type="button" class="btn btn-lg btn-default">取消</button>
        <button type="button" class="btn btn-lg btn-submit">确定</button>
    </div>
</div>
