<div class="bg-top">

  <div class="Im_top">
    <ul class="Im_list">
      <li class="already"><i class="iconfont icon-wenjian"></i>基础信息</li>
      <li class="active"><i class="iconfont icon-yingxiangsheying"></i>影像材料</li>
      <li class="future"><i class="iconfont icon-wenben"></i>计划申请</li>
    </ul>
  </div>
</div>
<div class="Im_box">
  <div class="Im_center">
    <div class="Im_cTop">
      <div class="b-paper">证件照</div>
      <div class="box-papers">
        <div class="faceImage">
          <img src="../../images/paper1.jpg" alt="">
          <span>证件正面</span>
        </div>
        <div class="backImage">
          <img src="../../images/paper2.jpg" alt="">
          <span>证件反面</span>
        </div>
      </div>
    </div>
    <div class="Im_cFooter">
      <div class="Im_lf">
        <div>学历证明</div>
        <div class="prove">
          <img src="../../images/paper1.jpg" alt="">
        </div>
      </div>
      <div class="Im_lr">
        <div>学信网验证页面</div>
        <div class="verify">
          <img src="../../images/paper2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <ul class="line">
    <li></li>
  </ul>
</div>
