body{
  font-family: MicrosoftYaHei;
}
.back{
  min-height: 100%;
  /*height: 768px;*/
  background: rgba(0,0,0,0.50);
  /*position: relative;*/
  padding: 100px;
}
.back .content{
  height: 100%;
  background: #FFFFFF;
  border-radius: 5px;
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%,-50%);*/
}
.back .head{
  border-bottom:1px solid #E4E4E4;
  height: 50px;
  line-height: 50px;
  text-indent: 31px;
}
.back .head span{
  font-size: 16px;
  color: #333333;
  line-height: 16px;
}
.back .head i{
  margin-right: 30px;
  float: right;
}
.back .content .main{
  padding: 25px 30px 34px 31px;
  /*line-height: 40px;*/
}
.back .content .main span.name{
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #575756;
  padding-right: 12px;
  width: 13%;
  text-align: right;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
}
.back .content .main .input_right{
  /*margin-bottom: 23px;*/
}

.back .content .main .input_right p{
  font-size: 12px;
  color: #9B9B9B;
  line-height: 24px;
  height: 24px;
}
.back .content .main .input{
  width: 80%;
  display: inline-block;
}
.back .content .main .input textarea{
  background: #FAFAFA;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  height: 60px;
  width: 100%;
}
.back .content .main .input .first{
  border: 1px solid #E4E4E4;
  height: 38px;
  line-height: 38px;
  margin-right:21px;
  font-size: 14px;
  color: #4A4A4A;
  width: 27%;
  margin-bottom: 0;
}
.back .content .main .input .second{
  background: #F5F5F5;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #575756;
  width: 20%;
  margin-bottom: 0;
}
/*.back .content .main .input.ipt-select{*/
  /*width: 21.6%;*/
  /*display: inline-block;*/
/*}*/
.back .content .main .share_radios{
  width: 88%;
  display: inline-block;
  background: #F8F8F8;
  border-radius: 5px;
  height: 98px;
  
}
.back .content .main .input input{
  margin-right: 18.5px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  width: 37%;
  height: 38px;
  text-align: center;
  margin-bottom: 23px;
}
.back .content .main .share_radios .radios{
  border-radius: 5px;
  width: 20%;
  height: 19px;
  /*line-height: 19px;*/
  text-align: center;
  float: left;
  margin-top: 20px;
  /*margin-bottom: 25px;*/
  
}
/*.back .content .main .share_radios .radios span{*/
/*margin-top: 9px;*/
/**/
/*}*/
.back .content .main .bottom{
  margin-bottom:29px;
}
.back .content .main .button{
  width: 300px;
  height: 42px;
  box-sizing: border-box;
  margin: 0 auto;
}
.back .content .main .button button{
  width: 120px;
  height: 40px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  background: #E87722;;
}
.back .content .main .button button:first-child{
  margin-right: 50px;
  color: #E87722;
  background: #fff;
}
.input .ipt-select{
  width: 37%;
  margin-bottom: 23px;
}
.ipt-file {
  position: relative;
  display: inline-block;
  /*width: 202px;*/
  /*height: 116px;*/
  /*margin-right: 12px;*/
  /*border: 1px solid #dadada;*/
  /*border-radius: 3px;*/
  overflow: hidden;
}
.ipt-file p {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 14px;
  color: #a7a7a7;
  transform: translate(-50%,-50%);
}
.ipt-file img {
  position: relative;
  width: 200px;
  height: 30px;
  z-index: 2;
}
.ipt-file img {
  position: relative;
  width: 100%;
  height: 30px;
  z-index: 2;
}
.ipt-file .file-upload {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: #fff;
  opacity: 0;
}
.close_father{
  position: relative;
}
.close_father span {
  position: absolute;
  right: -7px;
  top: -7px;
  color: red;
  border-radius: 50%;
  font-size: 14px;
}
/*input.close_father::before{*/
  /*content: "";*/
  /*display: block;*/
  /*width: 14px;*/
  /*height: 14px;*/
  /*font-size: 14px;*/
  /*background: url("./iconfonts/iconfont.svg");*/
  /*position: absolute;*/
  /*top: 0px;*/
  /*right: 0px;*/
/*}*/

