/* Homepage Banner
*****************************************/
.hp-banner{height:260px;text-align:center;background:url(../imgs/banner-1366x260.jpg) no-repeat center center;background-size:cover;overflow:hidden}
.hp-banner img{display:block;margin:0 auto}

/* Homepage User
*****************************************/
.hp-user{position:relative;padding:32px 0 22px;text-align:center}
.hp-user strong{position:absolute;left:50%;top:-50px;margin-left:-45px;width:90px;height:90px;line-height:56px;border-radius:90px;background-color:#f5f5f5;font-size:32px}
.hp-user p{line-height:36px;font-size:24px}
.hp-user p span{margin:0 5px}

/* Homepage Import
*****************************************/
.hp-import{width:900px;margin:0 auto;text-align:center}
.hp-import p{position:relative;height:22px;line-height:22px;margin-bottom:70px;color:#8f8f8f}
.hp-import p:before{position:absolute;left:0;top:10px;width:100%;height:1px;content:'';background-color:#dfdfdf;z-index:0}
.hp-import p span{position:relative;display:inline-block;padding:0 16px;background-color:#f5f5f5;z-index:1}
.hp-import ul{margin:0 -60px}
.hp-import li{float:left;margin:0 60px 70px;width:220px;height:248px;background:no-repeat left top}
.hp-import li.hp-import-1{background-image:url(../imgs/hp-import-1.png)}
.hp-import li.hp-import-1:hover{border:2px #fc7c21 solid;border-radius: 6px;background-position:-2px -2px}
.hp-import li.hp-import-2{background-image:url(../imgs/hp-import-2.png)}
.hp-import li.hp-import-2:hover{border:2px #258eff solid;border-radius: 6px;background-position:-2px -2px}
.hp-import li.hp-import-3{background-image:url(../imgs/hp-import-3.png)}
.hp-import li.hp-import-3:hover{border:2px #00bea0 solid;border-radius: 6px;background-position:-2px -2px}
.hp-import li a{display:block;height:248px}
.hp-import li i{display:block;height:154px;line-height:154px;color:#fff;font-size:70px}
.hp-import li.hp-import-1:hover i,.hp-import li.hp-import-2:hover i,.hp-import li.hp-import-3:hover i{margin-top:-2px}
.hp-import li strong{display:block;font-weight:400;font-size:20px;margin-top:40px;line-height:24px}


/* Table Agents
*****************************************/
.table-agents tr > :last-child{text-align:center}






















