.lesson-wrapper {
    width: 100%;
    background-color: #EEEEEE;
    padding: 0 16px 20px;
}
.integral {
    font-size: 12px;
    color: #8F8F8F;
    margin-left: 8px;
}
.gap {
    margin-left: 16px;
}
.need-top-gap {
    margin-top: 20px;
}
.fixed-top {
    margin-top: 7px;
}
.fiexd-height {
    margin-top: 20px;
}
.form-checkbox .ipt-select {
    display: inline-block;
}
.endTime {
    margin-left: 10px;
}


/* 定制化按钮 */
.fixed-width {
    width: 90px;
}
.fixed-right {
    margin-right: 26px!important;
}
/* 定制化按钮 */