/* document */
article,aside,audio,body,button,canvas,dd,dl,dt,figure,footer,form,h1,h2,h3,h4,h5,h6,header,input,label,li,mark,menu,nav,ol,p,section,select,table,textarea,time,ul,video{margin:0 auto;padding:0;}
article,aside,blockquote,dialog,figure,footer,header,hgroup,nav,section{display:block;}
button,html,input,select,textarea{color:#575757;font:1pc/1.4 Arial,Microsoft Yahei,'微软雅黑',Simhei,'黑体',sans-serif;}
a{color:#575757;}
a,a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font:1pc/1.4 lighter;}
ol,ul{list-style:none;list-style-image:none;}
img{display:inline-block;border:0;vertical-align:top;}
em,i,strong{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
[type^=date],button,input[type=email],input[type=number],input[type=password],input[type=reset],input[type=submit],input[type=tel],input[type=text],select,textarea{padding:0;outline:0!important;border:0;background:0 0;vertical-align:baseline;font-size:100%;-webkit-appearance:none;}
input[type=email]:focus,input[type=number]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=text]:focus,textarea:focus{border-color:#3598dc !important;}
button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;}
button[disabled],input[disabled]{cursor:default;}
input::-ms-clear{display:none!important;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}
input[type=search]{box-sizing:content-box;-webkit-appearance:textfield;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
textarea{overflow:auto;vertical-align:top;resize:none;}
blockquote,q{quotes:none;}
blockquote:after,blockquote:before,q:after,q:before{content:none;}
small{font-size:80%;}
sub,sup{position:relative;margin:0 .2em;vertical-align:baseline;font-size:75%;}
sup{top:-.25em;}
sub{bottom:-.1em;}
svg:not(:root){overflow:hidden;}
fieldset{margin:0;padding:.5em 1em 1em;border:1px solid #dfdfdf;}
legend{padding:0 .5em;border:0;white-space:normal;}
iframe{border:0;background:0 0;}
a,button,input{-webkit-tap-highlight-color:transparent;}
article,aside,audio,body,button,canvas,dd,dl,dt,figure,footer,form,h1,h2,h3,h4,h5,h6,header,label,li,mark,menu,nav,ol,p,section,select,table,time,ul,video{/*-webkit-touch-callout:none;-webkit-user-select:none;*/}
:not(input):not(textarea){/*-webkit-user-select:none;*/}
div,section,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,strong,span,a,label{box-sizing:border-box}

select{appearance:none;-o-appearance:none;-ms-appearance:none;-moz-appearance:none;-webkit-appearance:none;background:url(../imgs/select.png) no-repeat right center;background-size:auto 60%;padding-right:28px}
select::-ms-expand{display: none;}

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden}
.clearfix {*zoom: 1;}

/* HTML Body
*****************************************/
html, body{height:100%;position:relative;background-color:#f5f5f5}

/* Grid System
*****************************************/
.grid-row{display:block}
.grid-row:after{display:table;content:'';clear:both}
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left;}
.col-md-12{width:100%;}
.col-md-11{width:91.66666667%;}
.col-md-10{width:83.33333333%;}
.col-md-9{width:75%;}
.col-md-8{width:66.66666667%;}
.col-md-7{width:58.33333333%;}
.col-md-6{width:50%;}
.col-md-5{width:41.66666667%;}
.col-md-4{width:33.33333333%;}
.col-md-3{width:25%;}
.col-md-2{width:16.66666667%;}
.col-md-1{width:8.33333333%;}

/* Color
*****************************************/
.color-error{color:#E57A30 !important}
.color-success{color:#50BCC9 !important}
.color-active{color:#ff6300 !important}
.color-detail{color:#ef7f0f !important}
.color-edit{color:#0f72c6 !important}

/* Button
*****************************************/
.btn{display:inline-block;height:36px;line-height:34px;font-size:14px;padding:0 15px;border-radius:5px;text-align:center;box-sizing:border-box;margin:0 5px}
.btn-lg{width:100%;height:44px;line-height:42px;font-size:16px}
.btn-sm{padding:0 10px;height:30px;line-height:28px;font-size:14px}
.btn-radius{border-radius:38px}
.btn-default{background-color:#e5e5e5;border:1px solid #e5e5e5;color:#555}
.btn-submit{background-color:#ea741b;border:1px solid #ea741b;color:#fff}
.btn-submit:hover{background-color:#e07321}
.btn-danger{background-color:#FB5340;border:1px solid #FB5340;color:#fff}
.btn-tips{background-color:#E6F8FF;border:1px solid #CCF4FF;color:#0187CC}
.btn-code{background-color:#FFF4E8;border:1px solid #D5BCA4;color:#B08D76}
.btn-success{background-color:#fff;border:1px solid #d1d1d1;color:#575757;border-radius:3px;font-size:13px}
.btn-success:hover{background-color:#f7f7f7}

/* Form
*****************************************/
/* ipt-text */
input.ipt-text{width:100%;font-size:14px;line-height:36px;padding:0 10px;border:1px solid #dadada;background-color:#fff;border-radius:3px;box-sizing:border-box}
input.ipt-text:disabled{opacity:.6}
/* ipt-datetime */
.ipt-datetime{position:relative}
.ipt-datetime .ipt-text{padding-right:40px}
.ipt-datetime i{position:absolute;right:10px;top:50%;color:#dfdfdf;font-size:22px;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);z-index:1}
/* ipt-datetime-age */
.ipt-datetime-age{position:relative;padding-right:60px}
.ipt-datetime-age > .ipt-text{position:absolute;right:0;width:50px;top:0;background-color:#f7f7f7;text-align:center}
/* ipt-datetime-range */
.ipt-datetime-range .ipt-datetime{float:left;width:45%}
.ipt-datetime-range > span{float:left;text-align:center;width:10%;line-height:38px}
/* ipt-select */
.ipt-select{position:relative;}
.ipt-select i{position:absolute;right:10px;top:50%;color:#d3d3d3;font-size:12px;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);z-index:1}
.ipt-select select{    width: 100%;
    font-size: 14px;
    line-height: 36px;
    padding: 0 10px;
    border: 1px solid #dadada;
    background-color: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    color: #575757;
    height:38px;
    }
/* ipt-radio, ipt-checkbox */
.ipt-radio:after, .ipt-checkbox:after{clear:both;display:block;content:''}
.ipt-radio label, .ipt-checkbox label{position:relative;float:left;display:inline-block;width:110px;height:38px;line-height:36px;margin-right:10px;text-align:center;border:1px solid #dadada;background-color:#fff;border-radius:3px;font-size:16px;cursor:pointer;overflow:hidden}
.ipt-radio.auto label, .ipt-checkbox.auto label{width:auto;padding:0 15px}
.ipt-radio label:last-child, .ipt-checkbox label:last-child{margin-right:0}
.ipt-radio label.disabled, .ipt-checkbox label.disabled{opacity:.6}
.ipt-radio label.checked, .ipt-checkbox label.checked{border-color:#ea741b;color:#ea741b}
.ipt-radio label.checked:before, .ipt-checkbox label.checked:before{position:absolute;right:0;bottom:0;width:30px;height:30px;content:'';background-color:#ea741b;transform:rotate(45deg) translate(22px, 0);-webkit-transform:rotate(45deg) translate(22px, 0);-moz-transform:rotate(45deg) translate(22px, 0);z-index:1}
.ipt-radio label.checked:after, .ipt-checkbox label.checked:after{position:absolute;right:0;bottom:1px;content:'\e616';font-size:9px;font-family:'iconfont';color:#fff;line-height:9px;z-index:2}
.ipt-radio label input, .ipt-checkbox label input{display:none}
.ipt-radio > .ipt-text{width:300px}
/* ipt-range */
.ipt-range{min-height:38px}
.ipt-range .ipt-text{float:left;width:40%}
.ipt-range span{float:left;display:inline-block;width:20%;line-height:38px;text-align:center;color:#979797}
/* ipt-textarea */
.ipt-textarea{width:100%;font-size:15px;height:134px;line-height:24px;padding:6px 10px;border:1px solid #dadada;background-color:#fff;border-radius:3px;box-sizing:border-box}
/* ipt-file */
.ipt-file{position:relative;display:inline-block;width:202px;height:116px;margin-right:12px;border:1px solid #dadada;border-radius:3px;overflow:hidden}
.ipt-file input[type=file]{position:absolute;left:0;top:0;height:100%;width:100%;opacity:0;z-index:3;cursor:pointer}
.ipt-file img{position:relative;width:200px;height:114px;z-index:2}
.ipt-file p{position:absolute;left:50%;top:50%;font-size:14px;color:#a7a7a7;transform:translate(-50%,-50%);-webkit-transform:-webkit-translate(-50%,-50%);-moz-transform:-moz-translate(-50%,-50%);}
.ipt-file p i{display:block;margin:0 auto;width:24px;font-size:24px;margin-bottom:6px}
.ipt-file .file-upload{position:absolute;left:0;top:0;height:100%;width:100%;z-index:5;background-color:#fff;opacity:0}
/* ipt-btnfile */
.ipt-btnfile{position:relative;}
.ipt-btnfile input[type=file]{position:absolute;left:0;top:0;height:100%;width:100%;opacity:0;z-index:1;cursor:pointer}
/* ipt-radio-custom ipt-checkbox-custom */
.ipt-radio-custom label, .ipt-checkbox-custom label{display:inline-block;padding-left:28px;position:relative;line-height:24px}
.ipt-radio-custom label input, .ipt-checkbox-custom label input{position:absolute;left:0;background:none;border:none;-webkit-appearance:show;-moz-appearance:none;appearance:none;outline:none}
.ipt-radio-custom label input:before, .ipt-checkbox-custom label input:before{display:block;content:'';color:#fff;width:22px;height:22px;line-height:20px;text-align:center;font-size:14px;border:1px solid #c7c7c7;border-radius:100%;background-color:#fff;box-sizing:border-box}
.ipt-checkbox-custom label input:before{border-radius:3px}
.ipt-radio-custom label input:checked:before, .ipt-checkbox-custom label input:checked:before{font-family:'iconfont';content:'\e616';background-color:#2196D2;border-color:#2196D2}
.ipt-radio-custom label input:disabled:before, .ipt-checkbox-custom label input:disabled:before{opacity:.5}
/* ipt-icon */
.ipt-icon{position:relative;}
.ipt-icon .ipt-text{padding-left:50px;}
.ipt-icon i{position:absolute;left:0;top:0;line-height:38px;height:38px;width:50px;text-align:center}


/* UI Form
*****************************************/
.ui-form li{height:36px;line-height:36px;float:left;margin-bottom:15px}
.ui-form li strong{display:inline-block;text-align:right;width:33%;padding-right:10px;font-size:13px;font-weight:normal;}
.ui-form li strong.long{width:110px;margin-left:-20px}
.ui-form li strong em{color:#D0021B;margin-right:6px}
.ui-form li.ui-form-auto{padding-right:0}
.ui-form li.ui-form-default{padding:0}
.ui-form li .ui-form-fun{position:absolute;right:0;top:0;width:90px;line-height:38px}
.ui-form li .course_status{line-height: 38px;width:57%;box-sizing:border-box;display: inline-block;}
.ui-form li .course_status label{padding: 0 5px;}
.ui-form li select, .ui-form li input[type="text"], .column_box li input[type="password"]{height:36px;border:1px solid #cfcfcf;box-sizing:border-box;text-align:left;width:57%;font-size:12px;background-color:#fff;padding-left:10px;border-radius: 3px}
.ui-form li select:disabled, .ui-form li input[type="text"]:disabled{background-color:#eee}
/* UI Button
*****************************************/
.ui-button{padding:15px 0;text-align:center}
.ui-button .btn{min-width:120px;margin:0 10px}
.btn-search{position:absolute;right:20px;top:20px}

/* Alert Tips
*****************************************/
.alert-tips{position:absolute;left:0;top:0;width:100%;padding-right:48px;height:48px;line-height:48px;font-size:14px;color:#fff;background-color:rgba(49,49,49,.7);z-index:1000;}
.alert-tips p i{float:left;width:52px;height:48px;text-align:center;font-size:24px;background-color:#c41212;margin-right:15px}
.alert-tips .btn-close{position:absolute;right:0;top:0;height:48px;width:48px;color:#fff;font-size:28px}


/* Wrapper 全局容器
*****************************************/
.wrapper{position:relative;height:100%}

/* Wrapper Header
*****************************************/
.wrap-header{position:relative;height:52px;line-height:52px;color:#fff;background:#373737 url(../imgs/bg-login-title.png) no-repeat left top;z-index:2}
.wrap-header .logo{float:left;height:52px;}
.wrap-header .logo a{color:#fff;display:block;height:52px;padding:0 16px;}
.wrap-header .logo img{width:60px;margin-right:10px;vertical-align:middle}
.wrap-header .user{float:right;height:52px;padding-right:20px;font-size:14px}
.wrap-header .user strong{font-weight:400;margin-right:30px}
.wrap-header .user i,.tab-btn i{font-size:16px;margin-right:6px;line-height:18px;vertical-align:middle;margin-top:-1px;display: inline-block;height:20px;margin-right:5px}
.wrap-header .user button{color:#fff}

/* Wrapper Menu
*****************************************/
.wrap-menu{position:absolute;left:0;top:52px;bottom:0;width:168px;box-shadow:3px 0 12px rgba(122,122,122,.3);background-color:#fff;overflow-y:auto;z-index:1}
.wrap-menu dt{position:relative;height:50px;line-height:50px;cursor:pointer;padding-left:6px;}
.wrap-menu dt strong{font-weight:400;font-size:14px;}
.wrap-menu dt strong i{width:28px;height:28px;font-size:16px;text-align:center;line-height:28px;display:inline-block;border-radius:28px;background-color:#f7f7f7;color:#ff6701;margin-right:6px}
.wrap-menu dt > i{position:absolute;top:50%;right:10px;color:#ddd;font-size:12px;font-weight:bold;width:20px;height:20px;margin-top:-10px;text-align:center;line-height:20px;-webkit-transform-origin:center center;-moz-transform-origin:center center;-ms-transform-origin:center center;-o-transform-origin:center center;transform-origin:center center;-webkit-transition:all linear .3s;-moz-transition:all linear .3s;-ms-transition:all linear .3s;-o-transition:all linear .3s;transition:all linear .3s}
.wrap-menu dt.active, .wrap-menu dt:hover{color:#fff;background: linear-gradient(to left,#FB5340,#E57A30);}
.wrap-menu dt.active strong i, .wrap-menu dt:hover strong i{background:none;color:#fff}
.wrap-menu dt.active > i, .wrap-menu dt:hover > i{color:#fff}
.wrap-menu dt.active > i{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.wrap-menu dd{display:none;padding:15px 0 15px 20px;background-color:#f7f7f7}
.wrap-menu ul{border-left:2px solid #c3c3c3}
.wrap-menu li{position:relative;height:18px;line-height:18px;margin-top:15px;padding-left:10px;font-size:12px;}
.wrap-menu li:first-child{margin-top:0}
.wrap-menu li a:hover{color:#f60}
.wrap-menu li.active:before{position:absolute;left:-2px;top:0;content:'';width:2px;height:100%;background-color:#f60}
.wrap-menu li.active a{color:#f60}

/* Wrapper Content
*****************************************/
.wrap-content{position:absolute;left:168px;top:52px;right:0;bottom:0;padding:20px;overflow-y:scroll;z-index:0;font-size:13px}

/* Filter Box
*****************************************/
.filter-box{border:1px solid #dfdfdf;background-color:#fff;padding:30px 20px 10px;margin-bottom:10px;border-radius:5px;position:relative}
.filter-box .ipt-text, .filter-box .ipt-select{max-width:160px;margin-left:30px}
.filter-box .auto .ipt-text, .filter-box .auto .ipt-select{max-width:none}
.filter-box .col-btn{padding:0 0 0 60px}
.filter-box .btn{min-width:100px;margin-right:15px}

/* Table
*****************************************/
.table{width:100%;background-color:#fff;border-radius:5px;border:1px solid #dfdfdf}
.table td, .table th{padding:10px 20px;box-sizing:border-box;font-size:12px}
.table thead th{height:58px;font-weight:400;text-align:left}
.table tbody td{height:48px;border-top:1px solid #dfdfdf;font-size:14px}
.table tbody tr:nth-child(odd) td{background-color:#f8f8f8}
.table tbody td a{margin:0 10px}
.table_public td,.table_public th{padding:10px 10px}
.header-bars h4{text-align: center;line-height: 50px;font-weight: 700;font-size: 20px;}
.header-bars ul{display: table;text-align: center;}
.header-bars ul li{float: left;font-weight: 700;}
/* Table Paging
*****************************************/
.table-paging{padding:15px 0}
.table-paging p{float:right}
.table-paging p a{display:block;float:left;width:32px;height:32px;line-height:30px;text-align:center;font-size:14px;border:1px solid #dfdfdf;background-color:#fff;border-left:0}
.table-paging p a:first-child{border-left:1px solid #dfdfdf}
.table-paging p a.disabled{cursor:not-allowed}
.table-paging p a i{font-size:13px}
.table-paging p a.active{background-color:#578ebe;border-color:#578ebe;color:#fff;cursor:not-allowed}
.table-paging p a:not(.active):not(.disabled):hover{background-color:#efefef}
/* Font color
*****************************************/
.ong{color:#E57A30}
.red{color:#bc0000}
.green{color:#68B67E}

/* Form Detail
*****************************************/
.form-detail{min-height:100%;padding:20px;background-color:#fff;border:1px solid #dfdfdf;border-radius:5px}
/*
.form-detail ul{margin-bottom:15px}
.form-detail li{position:relative;padding-left:6em;line-height:38px;min-height:38px;font-size:14px;margin:5px 0}
.form-detail li img{vertical-align:bottom;margin-right:10px}
.form-detail li strong{position:absolute;left:0;/*width:6em;*/text-align:right;top:0;line-height:38px}*/
.form-detail li.auto strong{right:100%;left:auto;margin-right:-6em;width:7em}
.form-detail ul.edit{}
.form-detail ul.edit p{position:relative;padding-right:38px;margin-bottom:5px}
.form-detail ul.edit p button{position:absolute;right:0;width:38px;top:0;height:38px;font-size:24px;color:#f60}
.form-detail ul li.zlgl_share label{padding: 0 6px}
.form-detail ul li .form_table{position: relative;top: 30px;}
.form-detail ul li .form_table tr th:first-child{width: 20%;}
.form-detail ul li .form_table tr th{width: 30%;}
.form-detail ul li .form_table tr th:last-child{width: 20%;}
.form-detail ul li .form_table tr td{padding-bottom: 20px;}
.form-detail ul li .form_table .remove{    float: left;width: 36px;height: 36px;font-size: 26px;color: #f60;vertical-align: middle}
.form-detail ul li .form_table .form_sort span{float: left;font-size: 20px;font-weight: 700;}
.form-detail ul li .question_add{margin-top: 30px;}
.form-detail .form_learn ins{color:red;text-decoration: none;}
.form-detail .form_learn .srsj_ipt input{width: 75%;}
.form-detail .form_learn .srsj_ipt b{margin-left: 10px}
.form-detail .form_learn dt,.form-detail .form_learn dd{display: inline-block;margin-bottom: 20px;}
.form-detail .form_learn .exam_list{list-style-type: decimal;padding-left: 20px}
.form-detail .form_learn .exam_list  li{padding-left: 0;position: relative;}
.form-detail .form_learn .exam_list .score{position: absolute;width: 10%;top:0;right: 0}
.form-detail .form_learn .exam_list .score input{width: 70%;}
.form-detail ol li:after{clear:both;content:'';display:table;zoom:1;}
.form-detail ol li input{float:left;height:36px;}
.form-detail ol li button{float:left;width:36px;height:36px;}
.form-detail ol li button img{margin:0}
.ques_classifiy{position: relative;}
.ques_classifiy button{background: transparent;color:#ea741b;position: absolute;top: 0;right: -120px;}
/* Title
*****************************************/
.title{position:relative;line-height:36px;border-bottom:2px solid #dfdfdf;margin-bottom:20px}
.title strong{position:relative;font-size:15px;display:inline-block;height:36px;padding:0 2px}
.title strong:after{content:'';position:absolute;left:0;right:0;top:100%;height:2px;background-color:#E57A30}
.title button{float:right;width:36px;height:36px;font-size:26px;color:#f60;vertical-align:middle}
.ggsi_view li{padding-left: 0;}
.ggsi_view .single_choice{padding: 10px 20px;}
.ggsi_view .single_choice .subject{position: relative;}
.tick_ques,.fork_ques{position: absolute;top:0;right: 0;font-family: 'Arial Negreta', 'Arial Normal', 'Arial';font-weight: 700;font-style: normal;font-size: 36px;color: #F18800;}
.ggsi_view .single_choice .subject h5{float: left;}
.ggsi_view .single_choice .subject i{float: right;color: #4395ff;}
.ggsi_view .single_choice .subject span{margin-right: 10px;}
.ggsi_view .single_choice ol li{line-height: 20px;min-height: 20px;}
.ggsi_view .search_result .open_single{width: 100%;display: inline-block;height: 38px;text-align: left;background: #eee;padding-left: 20px;}
.ggsi_view .search_result .open_single img{vertical-align: middle;width: 12px;margin-left: 3px;}
.ggsi_view .search_result .corrcet_answ,.ggsi_view .search_result .corrcet_easy{color: #FF0000; font-size: 14px;text-align:right;margin-right: 10px;}
.ggsi_view .search_result .corrcet_easy{text-align: left;margin-left: 20px}
/* Nav Tabs
*****************************************/
.nav-tabs{border-bottom:1px solid #dfdfdf}
.nav-tabs:after{clear:both;display:table;content:'';height:0}
.nav-tabs strong{position:relative;float:left;cursor:pointer;font-weight:400;height:35px;line-height:34px;padding:0 20px;border:solid #dfdfdf;border-width:1px 1px 0 0;font-size:15px}
.nav-tabs strong:first-child{border-left:1px solid #dfdfdf}
.nav-tabs strong.active{color:#f60}
.nav-tabs strong.active:before{content:'';position:absolute;left:-1px;top:-2px;right:-1px;height:2px;background-color:#f60}
.nav-tabs strong.active:after{content:'';position:absolute;left:0;bottom:-1px;right:0;height:2px;background-color:#fff}
.tab-pane{display:none;border:1px solid #dfdfdf;border-top:0;margin-bottom:15px;padding:10px 20px 15px}
.tab-pane.active{display:block}
.tab-pane .xxjh_add .ipt-text{width: 95%;}
.tab-pane .xxjh_add img{vertical-align: middle}
.tab-pane .xxjh_add .learn_remove{right: 5%}
.tab-pane .xxjh_add .learn_upper{right: 2%}
.tab-pane .online_text{width: 30%;}
.tab-pane .online_form{padding-bottom: 10px;}
.tab-pane .online_form li,.form-detail .online_form li{margin: 5px 20px}
.tab-pane .online_form li.col-btn{    padding-left: 0;}
.tab-pane .search_result{border: 1px solid #dfdfdf;width: 100%;}
.tab-pane  .fiter{text-align: right;line-height: 40px;}
.tab-btn{padding-bottom:10px;text-align: right}
.yhsj_ques{border: 0;}
.right_key{font-weight: 700;font-style: normal;font-size: 20px !important;color: #F18800;}
.wrong_key



/* Tips
*****************************************/
.tip-line{color:#999;font-size:13px;line-height:24px;margin-bottom:5px}

/*
/*课程管理*/
.ggkc_left{padding-right: 20px}
.ggkc_left ul{border-right: 1px solid #dfdfdf}
.organize_right{border-left: 1px solid #dfdfdf}
.organize_right ol li{padding-left: 2rem}
.ggkc_form:first-child{padding-bottom: 0;border-bottom: 0;}
.ggkc_form:last-child{padding-top: 0;border-top: 0;}
.testPaper_table{margin: 10px 0;width: 100%;}
.testPaper_table td{border: 1px solid #999}
.testPaper_table td:first-child{width: 30%;text-align: center;}
.testPaper_table td:last-child ol li{padding-left: 1rem}
.testPaper_table td:last-child ol li i{margin-left: 20px}
.overt_button{background: transparent;color:#ea741b}
.overt_select{height: 100%;width:180px; font-size: 14px;line-height: 36px;padding: 0 10px;border: 1px solid #dadada;border-radius: 3px;}
.proTime{max-width: 180px}
.sameTime{max-width: 100px;}
.remind{position: relative;}
.remind:after{clear:both;display:table;content:'';height:0;}
.remind div{border:1px solid #999;display:block;float:left;padding:0 10px;text-align:center;height:88px;margin-left:10px;}
.remind div:first-child{margin-left:0}
.remind button{float:left;margin:29px 0 0 10px}
.learn_removed{width: 36px;height: 36px;font-size: 26px;color: #f60;vertical-align: middle;}
.addStation{border: 1px solid #0033FF;border-radius: 50%;width: 30px;height: 30px;line-height: 0;font-size: 20px;    font-weight: 700;color: #0033FF;}
.diffPlus{position: absolute;top:50%;left:160px;margin-top: -15px;}
.diff_btn button{color: #fff;font-size: 14px;width: auto;height: 30px;}
.offline_form .form_learn li{padding-left: 8.5rem}
.cycle_hd{margin: 20px 0}
.cycle_hd b{font-size: 14px;}
.sameWadte .Wdate{border-radius: 0 !important;color: #333;border: 1px solid #d5d5d5;padding: 5px 4px 6px;font-size: 12px;font-family: inherit;height: 38px;border-radius:3px !important;-webkit-box-shadow: none !important;box-shadow: none !important;-webkit-transition-duration: .1s;transition-duration: .1s;    background: #fff url(../imgs/date.png) no-repeat 95% center !important}
.sameWadte strong{width:100px !important}
.table tbody td .clickable{height: 48px;color: #575757;font-size: 14px;margin: 0;}
.title .editForm{height: 45px;font-size: 14px;width: auto}
.selectCourse li{padding-left: 0;float: left;margin: 0 20px}
.lineCourse span{font-size: 14px;margin: 0 20px}
.table tbody .color-expire{color: #f00}
.table tbody .color-default{color: #AEAEAE;}
.table tbody .color-tick{color: #008024}

#slv{border-radius:8px;border:1px solid #dadada;width:200px;height:38px;padding-left:6px}






