<!--头部背景区-->
<div class="bg-top">
  <!-- tab导航区 -->
  <div class="ps_top">
    <ul class="ps-header">
      <li class="ps-wenjian"><i class="iconfont icon-wenjianfile65"></i>材料复核</li>
      <li class="ps-ziliao"><i class="iconfont icon-wenhao"></i>甄选问卷</li>
      <li class="ps-plan"><i class="iconfont icon-tianjiawenjian"></i>声明与告知</li>
      <li class="ps-plan"><i class="iconfont icon-wenjiangongxiangicon"></i>提交预览</li>
    </ul>
  </div>
</div>
<!--内容区-->
<div class="answer-content">
  <div class="box">
    <!--个人背景头部部分-->
    <div class="person-background">
      <div class="box-header">
        <div class="box-left">
          <span class="matter icon-wenjian"></span> 个人背景
        </div>
        <div class="box-right">
          <div class="rs-scores">
            <p class="header-scores">18 <span>/ 20 分</span></p>
            <i class="header-checked iconfont icon-gouxuan"></i>
          </div>
          <i class="header-arrow iconfont icon-z-arrowUp"></i>
        </div>
      </div>
    </div>
    <!--个人背景详情部分-->
    <div class="box-background">
      <div class="person-items">
        <div class="person-term">
          <div class="person-left">
            <span>个人条件</span>
            <br>
            <span>评估个人、家庭条件是否合适</span>
          </div>
          <div class="person-right">
            <div class="person-star">
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>1分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>2分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>3分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>4分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>5分</span>
              </div>
            </div>
          </div>
        </div>
        <div class="person-bottom">
          <li><span>矮树丛高奥将从爱的世界拭擦上次</span></li>
          <li><span>矮树丛高奥将从擦擦是擦擦塞擦声擦上擦拭擦上次</span></li>
        </div>
      </div>
      <!--教育经历-->
      <div class="person-items">
        <div class="person-term">
          <div class="person-left">
            <span>教育经历</span>
            <br>
            <span>评估个人、家庭条件是否合适</span>
          </div>
          <div class="person-right">
            <div class="person-star">
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>1分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>2分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>3分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>4分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>5分</span>
              </div>
            </div>
          </div>
        </div>
        <div class="person-bottom">
          <li><span>矮树丛高奥将从爱的世界拭擦上次</span></li>
          <li><span>矮树丛高奥将从擦擦是擦擦塞擦声擦上擦拭擦上次</span></li>
        </div>
      </div>
      <!-- 工作经历 -->
      <div class="person-items">
        <div class="person-term">
          <div class="person-left">
            <span>工作经历</span>
            <br>
            <span>评估个人、家庭条件是否合适</span>
          </div>
          <div class="person-right">
            <div class="person-star">
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>1分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>2分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>3分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>4分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>5分</span>
              </div>
            </div>
          </div>
        </div>
        <div class="person-bottom">
          <li><span>矮树丛高奥将从爱的世界拭擦上次</span></li>
          <li><span>矮树丛高奥将从擦擦是擦擦塞擦声擦上擦拭擦上次</span></li>
        </div>
      </div>
      <!--评价-->
      <div class="evaluate-text">
        <span class="text-bottom">评价</span>
        <textarea class="evaluate" name="evaluate" id="" cols="30" rows="10"></textarea>
        <button>提交</button>
      </div>
    </div>
  </div>
  <div class="box">
    <!--个人背景头部部分-->
    <div class="person-background">
      <div class="box-header">
        <div class="box-left">
          <span class="matter icon-wenjian"></span> 基础能力
        </div>
        <div class="box-right">
          <div class="rs-scores">
          <p class="header-scores">18 <span>/ 20 分</span></p>
          <i class="header-checked iconfont icon-gouxuan"></i>
          </div>
          <i class="header-arrow iconfont icon-xiajiantou"></i>
        </div>
      </div>
    </div>
    <!--个人背景详情部分-->
    <div class="box-background">
      <div class="person-items">
        <div class="person-term">
          <div class="person-left">
            <span>个人条件</span>
            <br>
            <span>评估个人、家庭条件是否合适</span>
          </div>
          <div class="person-right">
            <div class="person-star">
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>1分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>2分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>3分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>4分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>5分</span>
              </div>
            </div>
          </div>
        </div>
        <div class="person-bottom">
          <li><span>矮树丛高奥将从爱的世界拭擦上次</span></li>
          <li><span>矮树丛高奥将从擦擦是擦擦塞擦声擦上擦拭擦上次</span></li>
        </div>
      </div>
      <!--教育经历-->
      <div class="person-items">
        <div class="person-term">
          <div class="person-left">
            <span>教育经历</span>
            <br>
            <span>评估个人、家庭条件是否合适</span>
          </div>
          <div class="person-right">
            <div class="person-star">
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>1分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>2分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>3分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>4分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>5分</span>
              </div>
            </div>
          </div>
        </div>
        <div class="person-bottom">
          <li><span>矮树丛高奥将从爱的世界拭擦上次</span></li>
          <li><span>矮树丛高奥将从擦擦是擦擦塞擦声擦上擦拭擦上次</span></li>
        </div>
      </div>
      <!-- 工作经历 -->
      <div class="person-items">
        <div class="person-term">
          <div class="person-left">
            <span>工作经历</span>
            <br>
            <span>评估个人、家庭条件是否合适</span>
          </div>
          <div class="person-right">
            <div class="person-star">
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>1分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>2分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>3分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>4分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>5分</span>
              </div>
            </div>
          </div>
        </div>
        <div class="person-bottom">
          <li><span>矮树丛高奥将从爱的世界拭擦上次</span></li>
          <li><span>矮树丛高奥将从擦擦是擦擦塞擦声擦上擦拭擦上次</span></li>
        </div>
      </div>
      <!--评价-->
      <div class="evaluate-text">
        <span class="text-bottom">评价</span>
        <textarea class="evaluate" name="evaluate" id="" cols="30" rows="10"></textarea>
        <button>提交</button>
      </div>
    </div>
  </div>
  <div class="box">
    <!--个人背景头部部分-->
    <div class="person-background hidden">
      <div class="box-header">
        <div class="box-left">
          <span class="matter icon-wenjian"></span> 行业&公司
        </div>
        <div class="box-right">
          <div class="rs-scores">
            <p class="header-scores">18 <span>/ 20 分</span></p>
            <i class="header-checked iconfont icon-gouxuan"></i>
          </div>
          <i class="header-arrow iconfont icon-xiajiantou"></i>
        </div>
      </div>
    </div>
    <!--个人背景详情部分-->
    <div class="box-background">
      <div class="person-items">
        <div class="person-term">
          <div class="person-left">
            <span>个人条件</span>
            <br>
            <span>评估个人、家庭条件是否合适</span>
          </div>
          <div class="person-right">
            <div class="person-star">
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>1分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>2分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>3分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>4分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>5分</span>
              </div>
            </div>
          </div>
        </div>
        <div class="person-bottom">
          <li><span>矮树丛高奥将从爱的世界拭擦上次</span></li>
          <li><span>矮树丛高奥将从擦擦是擦擦塞擦声擦上擦拭擦上次</span></li>
        </div>
      </div>
      <!--教育经历-->
      <div class="person-items">
        <div class="person-term">
          <div class="person-left">
            <span>教育经历</span>
            <br>
            <span>评估个人、家庭条件是否合适</span>
          </div>
          <div class="person-right">
            <div class="person-star">
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>1分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>2分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>3分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>4分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>5分</span>
              </div>
            </div>
          </div>
        </div>
        <div class="person-bottom">
          <li><span>矮树丛高奥将从爱的世界拭擦上次</span></li>
          <li><span>矮树丛高奥将从擦擦是擦擦塞擦声擦上擦拭擦上次</span></li>
        </div>
      </div>
      <!-- 工作经历 -->
      <div class="person-items">
        <div class="person-term">
          <div class="person-left">
            <span>工作经历</span>
            <br>
            <span>评估个人、家庭条件是否合适</span>
          </div>
          <div class="person-right">
            <div class="person-star">
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>1分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>2分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>3分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>4分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>5分</span>
              </div>
            </div>
          </div>
        </div>
        <div class="person-bottom">
          <li><span>矮树丛高奥将从爱的世界拭擦上次</span></li>
          <li><span>矮树丛高奥将从擦擦是擦擦塞擦声擦上擦拭擦上次</span></li>
        </div>
      </div>
      <!--评价-->
      <div class="evaluate-text">
        <span class="text-bottom">评价</span>
        <textarea class="evaluate" name="evaluate" id="" cols="30" rows="10"></textarea>
        <button>提交</button>
      </div>
    </div>

  </div>
  <div class="box">
    <!--个人背景头部部分-->
    <div class="person-background">
      <div class="box-header">
        <div class="box-left">
          <span class="matter icon-wenjian"></span> 其他问题
        </div>
        <div class="box-right">
          <div class="rs-scores">
          <p class="header-scores">18 <span>/ 20 分</span></p>
          <i class="header-checked iconfont icon-gouxuan"></i>
          </div>
          <i class="header-arrow fl iconfont icon-xiajiantou"></i>
        </div>
      </div>
    </div>
    <!--个人背景详情部分-->
    <div class="box-background">
      <div class="person-items">
        <div class="person-term">
          <div class="person-left">
            <span>个人条件</span>
            <br>
            <span>评估个人、家庭条件是否合适</span>
          </div>
          <div class="person-right">
            <div class="person-star">
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>1分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>2分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>3分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>4分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>5分</span>
              </div>
            </div>
          </div>
        </div>
        <div class="person-bottom">
          <li><span>矮树丛高奥将从爱的世界拭擦上次</span></li>
          <li><span>矮树丛高奥将从擦擦是擦擦塞擦声擦上擦拭擦上次</span></li>
        </div>
      </div>
      <!--教育经历-->
      <div class="person-items">
        <div class="person-term">
          <div class="person-left">
            <span>教育经历</span>
            <br>
            <span>评估个人、家庭条件是否合适</span>
          </div>
          <div class="person-right">
            <div class="person-star">
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>1分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>2分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>3分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>4分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>5分</span>
              </div>
            </div>
          </div>
        </div>
        <div class="person-bottom">
          <li><span>矮树丛高奥将从爱的世界拭擦上次</span></li>
          <li><span>矮树丛高奥将从擦擦是擦擦塞擦声擦上擦拭擦上次</span></li>
        </div>
      </div>
      <!-- 工作经历 -->
      <div class="person-items">
        <div class="person-term">
          <div class="person-left">
            <span>工作经历</span>
            <br>
            <span>评估个人、家庭条件是否合适</span>
          </div>
          <div class="person-right">
            <div class="person-star">
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>1分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>2分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>3分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>4分</span>
              </div>
              <div class="person-icon">
                <span class="iconfont icon-stars"></span>
                <span>5分</span>
              </div>
            </div>
          </div>
        </div>
        <div class="person-bottom">
          <li><span>矮树丛高奥将从爱的世界拭擦上次</span></li>
          <li><span>矮树丛高奥将从擦擦是擦擦塞擦声擦上擦拭擦上次</span></li>
        </div>
      </div>
      <!--评价-->
      <div class="evaluate-text">
        <span class="text-bottom">评价</span>
        <textarea class="evaluate" name="evaluate" id="" cols="30" rows="10"></textarea>
        <button>提交</button>
      </div>
    </div>
  </div>
</div>

<!--底部按钮-->
<div class="bot-button">
  <div class="buttonGroup">
    <button type="button" class="savePersonalInfo">保存</button>
    <button type="button" class="goNext">下一步</button>
  </div>
</div>