<!--头部背景区-->
<div class="interview-wrapper">
    <!-- tab导航区 -->
    <div class="view-top preson-bg-head">
        <div class="ps_top">
            <ul class="ps-header " >
                <li class="ps-wenjian"><i class="iconfont icon-wenjian"></i>基础信息</li>
                <li class="ps-ziliao"><i class="iconfont icon-wenjian"></i>影像材料</li>
                <li class="ps-plan"><i class="iconfont icon-wenjian"></i>计划申请</li>
                <li class="ps-plan"><i class="iconfont icon-wenjian"></i>计划申请</li>
            </ul>
        </div>
    </div>
    <!--进度条-->
    <div class="get-score">
        <p>甄选评估总得分：<span class="score-one">40</span><span class="score-two">/50分</span></p>
        <div class="get-rang"> <div class="get-rang-son"> </div></div>
        <p class="score-three">50分</p>
    </div>
    <!--个人背景-->
    <div class="preson-bg">
        <div class="preson-bg-top">
            <div class="bg-top-left">
                <span class="icon-wenjian"></span> <span style="padding-left: 16px">个人背景</span>
            </div>
            <div class="bg-top-right">
                <span class="">18 </span><span>/ 20 分</span>
                <i class="bg-gouxian icon-gouxuan"></i>
                <i class="bg-arrowup icon-z-arrowUp"></i>
            </div>
        </div>
        <div class="preson-bg-list">
            <strong>个人条件</strong>
            <ul class='stars-list'>
                <li><i class="icon-stars"></i><span>1分</span></li>
                <li><i class="icon-stars"></i><span>2分</span></li>
                <li><i class="icon-stars"></i><span>3分</span></li>
                <li><i class="icon-stars"></i><span>4分</span></li>
                <li><i class="icon-stars"></i><span>5分</span></li>
            </ul>
        </div>
        <div class="preson-bg-list">
            <strong>教育经历</strong>
            <ul class='stars-list'>
                <li><i class="icon-stars"></i><span>1分</span></li>
                <li><i class="icon-stars"></i><span>2分</span></li>
                <li><i class="icon-stars"></i><span>3分</span></li>
                <li><i class="icon-stars"></i><span>4分</span></li>
                <li><i class="icon-stars"></i><span>5分</span></li>
            </ul>
        </div>
        <div class="preson-bg-list">
            <strong>工作经历</strong>
            <ul class='stars-list'>
                <li><i class="icon-stars"></i><span>1分</span></li>
                <li><i class="icon-stars"></i><span>2分</span></li>
                <li><i class="icon-stars"></i><span>3分</span></li>
                <li><i class="icon-stars"></i><span>4分</span></li>
                <li><i class="icon-stars"></i><span>5分</span></li>
            </ul>
        </div>
        <div class="preson-bg-asses">
            <strong>评价</strong>
            <p>是否有保险行业工作经验？既往公司级工作介绍。（有保险行业相关工作经验优先考虑）</p>
        </div>

    </div>
     <!--基础能力-->
    <div class="preson-bg">
    <div class="preson-bg-top">
        <div class="bg-top-left">
            <span class="icon-wenjian"></span> <span style="padding-left: 16px">基础能力</span>
        </div>
        <div class="bg-top-right">
            <span class="">18 </span><span>/ 20 分</span>
            <i class="bg-gouxian icon-gouxuan"></i>
            <i class="bg-arrowup icon-xiajiantou"></i>
        </div>
    </div>
</div>
    <!--行业&公司-->
    <div class="preson-bg">
        <div class="preson-bg-top">
            <div class="bg-top-left">
                <span class="icon-wenjian"></span> <span style="padding-left: 16px">行业&公司</span>
            </div>
            <div class="bg-top-right">
                <span class="">18 </span><span>/ 20 分</span>
                <i class="bg-gouxian icon-gouxuan"></i>
                <i class="bg-arrowup icon-xiajiantou"></i>
            </div>
        </div>
    </div>
    <!--其它问题-->
    <div class="preson-bg">
        <div class="preson-bg-top">
            <div class="bg-top-left">
                <span class="icon-wenjian"></span> <span style="padding-left: 16px">其它问题</span>
            </div>
            <div class="bg-top-right">
                <span class="">18 </span><span>/ 20 分</span>
                <i class="bg-gouxian icon-gouxuan"></i>
                <i class="bg-arrowup icon-xiajiantou"></i>
            </div>
        </div>
    </div>

    <!--底部按钮-->
    <div class="bot-button">
        <div class="buttonGroup">
            <button type="button" class="savePersonalInfo">保存</button>
            <button type="button" class="goNext">下一步</button>
        </div>
    </div>
</div>
