<div class="list-wrapper">
    <div class="toggle-table-cond">
        <p class="active">我的增员（<span>0</span>）</p>
        <p>我的面试（<span>0</span>）</p>
        <p>班级报名（<span>0</span>）</p>
    </div>
    <div class="list-recruit-add list-table">
        <div class="mock-table">
            <div class="mock-row mock-header">
                <div class="mock-cell">姓名</div>
                <div class="mock-cell">性别</div>
                <div class="mock-cell">年龄</div>
                <div class="mock-cell">联系方式</div>
                <div class="mock-cell">人才计划</div>
                <div class="mock-cell">增员进度</div>
                <div class="mock-cell">当前环节</div>
            </div>
            <div class="mock-table scroll-add-member">

            </div>
        </div>
    </div>
</div>