<div class="info-wrapper" style="border-radius: 10px">
    <!--头像-->
    <div class="head-portrait" style="border-radius: 10px">
        <!--tap导航-->
        <div class="materials-header">
            <div class="mater-top-flag form-header-tap">
                <ul class="mater-flag">
                    <li class="active" data-type="personnelInfo"><i class="icon-users"></i>个人信息</li>
                    <li class="future" data-type="family"><i class="icon-jiatingfang"></i>家庭信息</li>
                    <li class="future" data-type="showEducation"><i class="icon-jiaoyu"></i>教育信息</li>
                    <li class="future" data-type="workExperience"><i class="icon-gongzuojingli"></i>工作经历</li>
                    <li class="future" data-type="plan"><i class="icon-jihuashucur"></i>计划申请</li>
                    <li class="future" data-type="preview"><i class="icon-2yulan"></i>提交预览</li>
                </ul>
            </div>
        </div>
    </div>

    <!--个人信息表单-->
    <input type="text" hidden name="pId" value="{{=it.pId || ''}}">
    <input type="text" hidden name="oId" value="{{=it.oId || ''}}">
    <form id="personalForm" action="">
        <input type="text" hidden name="id" value="{{=it.id || 0}}">
        <input type="text" hidden name="personnelStatus" value="{{=it.personnelStatus || ''}}">
        <ul class="grid-row ui-form">
            <li class="col-md-12 ui-form-auto">
                <strong><span class="mustWrite">*</span><span>证件类型</span></strong>
                <div class="ipt-radio auto">
                    <label class="{{=it.identityType == '111'?'checked':''}}"><input type="radio" name="identityType" value="111" {{=it.identityType=='111'?'checked':''}}>身份证</label>
                    <label class="{{=it.identityType == '414'?'checked':''}}"><input type="radio" name="identityType" value="414" {{=it.identityType=='414'?'checked':''}}>护照</label>
                    <label class="{{=it.identityType == '511'?'checked':''}}"><input type="radio" name="identityType" value="511" {{=it.identityType=='511'?'checked':''}}>台胞证</label>
                    <label class="{{=it.identityType == '516'?'checked':''}}"><input type="radio" name="identityType" value="516" {{=it.identityType=='516'?'checked':''}}>港澳回乡证</label>
                </div>
            </li>
            <li class="col-md-12 ui-form-auto">
                <strong><span>证件照</span></strong>
                <div class="ipt-file">
                    <p><i class="icon-upload"></i>上传证件照正面</p>
                    <img src="" alt="">
                    <div id="identityCardFrontFile" class="file-upload"></div>
                    <input type="hidden" name="leftImg" value="{{=it.leftImg || ''}}">
                </div>
                <div class="ipt-file">
                    <p><i class="icon-upload"></i>上传证件照反面</p>
                    <img src="" alt="">
                    <div id="identityCardBackFile" class="file-upload"></div>
                    <input type="hidden" name="rightImg" value="{{=it.rightImg || ''}}">
                </div>
            </li>
            <li class="col-md-6">
                <strong><span class="mustWrite">*</span><span>证件号</span></strong>
                <input type="text" name="identityCode" class="ipt-text check-vali" data-must="1" data-mustname="证件号" placeholder="请输入证件号" value="{{=it.identityCode || ''}}">
            </li>
            <li class="col-md-6">
                <strong><span class="mustWrite">*</span><span>有效期至</span></strong>
                <div class="ipt-datetime long-range">
                    <input type="hidden" data-must="1" data-mustname="有效期" name="ctfexpireDate"  id="standing-date" value="{{=it.ctfexpireDate?it.ctfexpireDate: '2199-01-01'}}">
                    <input type="text"  data-must="1" data-mustname="有效期" name="ctfexpireDateBlock" class="ipt-text" placeholder="请选择有效期" readonly id="normal-date" {{=it.ctfexpireDate&&it.ctfexpireDate=='2199-01-01'?'disabled':''}} value="{{=it.ctfexpireDate&&it.ctfexpireDate!='2199-01-01'?it.ctfexpireDate: ''}}" >
                    <i class="icon-date"></i>
                </div>
            </li>
            <li class="col-md-6">
                <strong><span class="mustWrite">*</span><span>姓名</span></strong>
                <input type="text" name="name" class="ipt-text check-vali" data-must="1" data-mustname="姓名" placeholder="请输入姓名" value="{{=it.name || ''}}" maxlength="50">
            </li>
            <li class="col-md-6">
                <label class="legal-person ipt-checkbox-custom payment-rule"><input name="beneficiaryType" type="checkbox" {{=it.ctfexpireDate&&it.ctfexpireDate=='2199-01-01'?'checked':''}}>长期有效</label>
            </li>
            <li class="col-md-6">
                <strong><span class="mustWrite">*</span><span>出生日期</span></strong>
                <div class="ipt-datetime-age">
                    <div class="ipt-datetime">
                        <input id="birthday" value="{{=it.birthday || ''}}" type="text" name="birthday" class="ipt-text check-vali" data-must="1" data-mustname="出生日期" placeholder="请输入出生日期" readonly>
                    </div>
                    <input type="text" id="age" name="age" class="ipt-text" readonly value="{{=common.getAge(it.birthday)}}">
                </div>
                <div class="ui-form-fun">岁</div>
            </li>
            <li class="col-md-6 input-radio">
                <strong><span class="mustWrite">*</span><span>性别</span></strong>
                <div class="ipt-radio">
                    <label class="{{=it.sex == 'M'?'checked':''}}"><input type="radio" name="sex" value="M" {{=it.sex==='M'?'checked':''}}>男</label>
                    <label class="{{=it.sex == 'F'?'checked':''}}"><input type="radio" name="sex" value="F" {{=it.sex==='F'?'checked':''}}>女</label>
                </div>
            </li>
            <li class="col-md-6">
                <strong><span class="mustWrite">*</span><span>联系电话</span></strong>
                <input type="text" name="cellphone" class="ipt-text check-vali" data-must="1" data-mustname="联系电话" placeholder="请输入联系电话" value="{{=it.cellphone || ''}}" maxlength="11">
            </li>
            <li class="col-md-6">
                <strong><span class="mustWrite">*</span><span>民族</span></strong>
                <div class="ipt-select">
                    <i class="icon-arrow-full-down"></i>
                    <input type="text" class="ipt-text" placeholder="请选择民族" readonly>
                    <select name="nation" data-must="1" data-mustname="民族">
                    </select>
                </div>
            </li>
            <li class="col-md-6">
                <strong><span class="mustWrite">*</span><span>政治面貌</span></strong>
                <div class="ipt-select">
                    <i class="icon-arrow-full-down"></i>
                    <input type="text" class="ipt-text" placeholder="请选择政治面貌" readonly>
                    <select name="political" data-must="1" data-mustname="政治面貌">
                    </select>
                </div>
            </li>
            <li class="col-md-6">
                <strong><span class="mustWrite">*</span><span>新人来源</span></strong>
                <div class="ipt-select">
                    <i class="icon-arrow-full-down"></i>
                    <input type="text" class="ipt-text" placeholder="请选择新人来源" readonly>
                    <select name="source" data-must="1" data-mustname="新人来源">
                    </select>
                </div>
            </li>
            <li class="col-md-6">
                <strong><span class="mustWrite">*</span><span>来源渠道</span></strong>
                <div class="ipt-select">
                    <i class="icon-arrow-full-down"></i>
                    <input type="text" class="ipt-text" placeholder="请选择来源渠道" readonly>
                    <select name="channel" data-must="1" data-mustname="来源渠道">
                    </select>
                </div>
            </li>
            <li class="col-md-6">
                <strong><span class="mustWrite">*</span><span>国籍</span></strong>
                <div class="ipt-select">
                    <i class="icon-arrow-full-down"></i>
                    <input type="text" class="ipt-text" placeholder="请选择国籍" readonly>
                    <select name="country" data-must="1" data-mustname="国籍">
                    </select>
                </div>
            </li>
        </ul>
    </form>
</div>
