<div class="preview">
    <!-- 头部区域-->
    <div class="preview-header">
        <!--tap导航-->
        <div class="materials-header">
            <div class="mater-top-flag form-header-tap">
                <ul class="mater-flag">
                    <li class="already" data-type="personnelInfo"><i class="icon-users"></i>个人信息</li>
                    <li class="already" data-type="family"><i class="icon-jiatingfang"></i>家庭信息</li>
                    <li class="already" data-type="showEducation"><i class="icon-jiaoyu"></i>教育信息</li>
                    <li class="already" data-type="workExperience"><i class="icon-gongzuojingli"></i>工作经历</li>
                    <li class="already" data-type="plan"><i class="icon-jihuashucur"></i>计划申请</li>
                    <li class="active" data-type="preview"><i class="icon-2yulan"></i>提交预览</li>
                </ul>
            </div>
        </div>
    </div>

    <!--预览内容区-->
    <div class="preview-content">
        <!--进度条区域-->
        <div class="preview-progress">
            <div class="progress-desc">
                申请信息填写进度 : <em>100%</em>
            </div>
            <div class="rang">
                <div class="rang-son"></div>
            </div>
        </div>

        <!--表单展示项区域-->
        <div class="user-info">
            <ul class="content-body">
                <li>
                    <p class="preview-title">个人信息</p>
                    <div class="content-list preview_getPersonnel">

                    </div>
                </li>
                <li>
                    <p class="preview-title">家庭信息</p>
                    <div class="content-list preview_getFamilyMember">
                    </div>
                </li>
                <li>
                    <p class="preview-title">教育经历</p>
                    <div class="content-list preview_getEducational">

                    </div>
                </li>
                <li>
                    <p class="preview-title">工作经历</p>
                    <div class="content-list preview_getWorkExperience">

                    </div>
                </li>
                <li>
                    <p class="preview-title">计划申请</p>
                    <div class="content-list preview_getApply">

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

