{{?it}}
<ul class="grid-row">
    <li class="col-md-3"><strong>证件类型</strong><p>{{=it.identityType}}</p></li>
    <li class="col-md-6"><strong>证件号码</strong><p>{{=it.identityCode}}</p></li>
    <li class="col-md-3"><strong>证件有效期至</strong><p>{{=it.ctfexpireDate}}</p></li>
    <li class="col-md-3"><strong>姓名</strong><p>{{=it.name}}</p></li>
    <li class="col-md-3"><strong>性别</strong><p>{{=it.sex}}</p></li>
    <li class="col-md-3"><strong>年龄</strong><p>{{=it.birthday}}</p></li>
    <li class="col-md-3"><strong>民族</strong><p>{{=it.nation}}</p></li>
    <li class="col-md-3"><strong>政治面貌</strong><p>{{=it.personnelType}}</p></li>
    <li class="col-md-3"><strong>新人来源</strong><p>{{=it.personnelType}}</p></li>
    <li class="col-md-3"><strong>来源渠道</strong><p>{{=it.personnelType}}</p></li>
</ul>
<!--{{?}}-->
<!--{{? it && it.length > 0}}-->
    <!--{{~ it :value}}-->
       <!--<li>-->
          <!--id: <a href="">{{=value.id}}</a>-->

       <!--</li>-->
    <!--{{~}}-->
<!--{{?}}-->