<div class="preAdd-wrapper">
    <div class="preAdd-header">
        <div id="search-source">
            <div class="preAdd-search">
                <i class="icon-2fangdajing source-search"></i>
                <input type="text" name="keyWord" placeholder="姓名、电话">
            </div>
            <div class="preAdd-confirm">
                <button type="button">确定</button>
            </div>
        </div>
    </div>
    <div class="source-list">

    </div>
</div>


