<div class="bg-top">
<div class="progress-bar">
  <div class="pv-teb">
    <div class="pv-orange"></div>
  </div>
</div>
</div>

<div class="pv-main">
  <span class="pv-line">申请人才计划</span>
  <div class="pv-plan">
    <span>人才计划</span>
    <select name="select-plan" id="pv-select">
      <option value="HA1">HA1</option>
      <option value="HA" selected = "selected">HA</option>
      <option value="HA2">HA2</option>
    </select>
  </div>
</div>